[2015-08-25 11:34] ansrivas opened #1 "Empty rdd throws an error while calling worker.train"
Hi , thanks for writing elephas , looks very interesting.
I was just playing around with the code.

I observed at some points  when the rdd is repartitioned , there might be empty partitions, they throw error in worker.train as keras tries to fit arrays with zero data.

[2015-09-14 14:21] maxpumperla commented on #1
Hi, Thanks for this!

I noticed this, too, and think the problem is two-fold. First, in principle it should be OK to have partitions with zero data, although it's obviously not preferable. I have to look into how Spark does this exactly.

Second, the actual error that's thrown comes down to a local Keras variable in Callbacks that is only initialized if there is data. Now, of course you wouldn't d

[2015-09-14 14:38] ansrivas commented on #1
I tried to check it as well, came up with something like this, may be you can verify this.
https://github.com/ansrivas/elephas/blob/master/elephas/spark_model.py#L51-L63

Couple of posts on stack-overflow also suggested that in rdd.mapPartition(func), func should take care of empty partitions.

[2015-09-14 15:09] maxpumperla commented on #1
Sure, that should do as quick fix. I'll integrate it later, thank you! Have to remember to check up on the Keras thing itself.

[2015-09-15 15:38] maxpumperla commented on #1
Turns out you have to make sure there's at least batch_size + 1 samples on each partition, so your check did not quite suffice. I submitted a fix and will close this now. Thanks again.

[2015-09-15 15:38] #1 closed

[2015-11-18 08:17] vyassu opened #2 "Issue with predict method of SparkModel"
The predict method of SparkModel is missing an argument. The implementation has to be def predict(self,data):

[2015-11-18 08:30] vyassu opened #3 "Pip not installing the entire module in the python dist-packages"
The command pip install elephas is not installing the entire repository as mentioned in github. Folders like ml,mlib and utils are missing

[2015-11-18 12:48] maxpumperla commented on #2
Thanks!

[2015-11-18 12:48] #2 closed

[2015-11-18 13:00] maxpumperla commented on #3
Version 0.2 now released to pip, please let me know if it works. Make sure to have the latest keras & theano versions. Thanks for the feedback.

[2015-11-18 13:00] #3 closed

[2015-11-18 13:34] ansrivas commented on #3
Hi,
I think this problem still persists .

The setup.py includes just [elephas] so its not able to discover the subpackages. May be you need to include this in your setup.py

https://github.com/ansrivas/elephas/commit/5cfdd7817d2a0a363db12bc0ccfcf618bf2a66bb

[2015-11-18 14:03] maxpumperla commented on #3
Yes, thank you. Should work now in 0.2.1.

[2015-11-20 07:47] vyassu opened #4 "index 0 is out of bounds for axis 0 with size 0"
It seems that while executing train method AsynchronousSparkWorker, "X_train" numpy array has zero length, due to which some of the tasks are failing with the error mentioned in the subject line. I have fixed the same on my local system by incorporating the below mentioned lines inside the train method

if len(X_train)==0:
           return

[2015-11-20 07:50] vyassu opened #5 "predict_classes method missing in SparkModel class"
Sequential model of Keras provides a method predict_classes that returns the label for a given test feature. The below mentioned lines of code would help to achieve the desired result

def predict_classes(self,data):
        return self.master_network.predict_classes(data)

[2015-11-30 15:43] maxpumperla commented on #4
Unfortunately, I can't reproduce the error on my side, but I see the problem with Spark not evenly distributing load sometimes. Your suggestion is in, would you mind checking if it works for you? Thanks for your help!

[2015-11-30 15:47] maxpumperla commented on #5
OK, I added this because it's been requested. I should note, though, that I'd rather not replicate the interface of keras itself, as you can just get the underlying model back.

[2015-11-30 15:47] #5 closed

[2015-12-02 06:21] #4 closed

[2015-12-14 15:50] anndro opened #6 "UnicodeEncodeError"
Hello,

When I try to run elephas I got some errors.

Command:
../spark/bin/spark-submit --driver-memory 2G --executor-memory 30G ./run_distributed.py -v

Output:
172.20.20.111 - - [14/Dec/2015 17:48:18] "GET /parameters HTTP/1.1" 200 -
15/12/14 17:48:56 WARN TaskSetManager: Lost task 7.0 in stage 1.0 (TID 43, 172.20.20.107): org.apache.spark.api.python.PythonException: Traceback (most recent call

[2015-12-14 17:42] maxpumperla commented on #6
Hi, thanks for reporting this. The error indicates that this question mark symbol below appears in either HTTP header or content, when updating parameters back from executers to master (while getting parameters apparently works.)

http://graphemica.com/%EF%BF%BD

Option 1: Master URL is broken. This is somewhat unlikely, as in line 215 it gets parameters from there. Can you check or even send me y

[2015-12-15 14:49] mitomm opened #7 "ImportError: No module named theano_utils for elephas_optimizer import"
First, thanks for the bringing Keras to Spark.

Seems very interesting.

I'm trying to implement the example from the README.md but I get the following error:

Traceback (most recent call last):
  File "..pathToFile/File.py", line 12, in <module>
    from elephas import optimizers as elephas_optimizers
  File "/Users/XXX/anaconda/lib/python2.7/site-packages/elephas/optimizers.py", line 11, in <mod

[2015-12-15 14:58] maxpumperla commented on #7
Yes, you're absolutely right, thanks for this. The reason this breaks is that the latest release of Keras, introducing backends, *removed* the file theano_utils, as it is backend-specific. I will fix this and make a new minor release as soon as I find the time. Until then, would you please consider using Keras version 0.2.0 to run the example?

Then this one should work for you:
https://github.com

[2015-12-17 16:20] maxpumperla commented on #6
Hey @anndro, do you have any feedback for me? These serialization errors are fairly common with Spark and currently it's unclear to me if this is due to elephas or your setup.

[2015-12-17 16:43] maxpumperla commented on #7
Hi @mitomm, just released elephas 0.2.2 to revolve all theano/backend related issues. Does this work as expected for you?

[2015-12-17 21:03] anndro commented on #6
Hello, Sorry for the delay I was working last 2 days to fix issue. I figured out the error was because of the python version.
I was using debian7 and python version was 2.7.3 Then I updated my enviroment to python 3.4. Now it's working good.
Thanks for help and this good library.

[2015-12-17 21:03] #6 closed

[2015-12-18 09:42] mitomm commented on #7
Hi @maxpumperla, yes, the error is gone now. Thanks for the quick fix.

[2015-12-18 10:00] maxpumperla commented on #7
Sure, no problem. Thanks!

[2015-12-18 10:00] #7 closed

[2015-12-18 14:09] maxpumperla commented on #6
Cool, glad to hear that. In case you have an interesting application / example to add, please let me know.

[2016-01-22 22:22] carterk opened #10 "Building model on workers costly"
Do you find that this step takes a long time? Is the model recompiling the Theano functions here? Would there be ways to speed that up (somehow have the precompiled model persist in memory for each task and just send the weights from the master model in with the map)?

`model = model_from_yaml(self.yaml)`

[2016-01-25 09:03] maxpumperla commented on #10
Thanks for the comment. Is certainly comes with a cost. Let me break it down for you:

Each elephas model, regardless the mode (i.e. synch or asynch), has the following steps:
1. Serialize model
2. Send Yaml to workers (check your network bandwidth)
3. De-serialize and re-complile (has to be done)
4. Send initial weights from master to workers
5. Train etc.

There's few things I can image could be

[2016-01-25 16:22] carterk commented on #10
Great, thanks for the reply. I'm actually not using Elephas, but I'm developing a very similar framework using Lasagne instead of Keras. Looks like the challenges are identical: I'm hoping to exploit the idea that passing around updated weights and loading them into an already compiled model on a worker is less expensive than passing around updated models and recompiling them on workers.

- I've t

[2016-01-25 16:52] maxpumperla commented on #10
Cool, sounds great. Maybe in your case you should consider using accumulators instead of broadcast vars, or maybe both, for different tasks.

Just to be clear, though: Nowhere do you find multiple (de-)serializations in elephas. Just once in the beginning. In synchronous mode you only map once and get back deltas. (If we would map several times, your claim were right. But then I'd also structure i

[2016-01-25 16:59] maxpumperla commented on #10
You may very well be right that the broadcasting could be faster, though. I should give that a try.

[2016-01-25 19:01] carterk commented on #10
Ah, k, I think what I'm doing is something closer to running the equivalent of Elephas's synchronous mode but for many epochs. Something like this:

[code]

[2016-01-25 20:41] maxpumperla commented on #10
Alright. So, as this doesn't seem to directly be an elephas issue, I'm going to close this. I might opt for the multi-epoch synch mode later, but in my view the asynch mode is superior in any case. Thanks again and all the best for your project.

[2016-01-26 12:58] #10 closed

[2016-01-28 06:40] yankov opened #11 "Running a single model per node"
From what I understand it's currently possible to run the same model on multiple workers where each worker gets a different batch of data. But is it possible to run one model per worker where every model may have different parameters but trained on the same batch of data? This could really help for hyperparameter search.

[2016-01-28 09:04] maxpumperla commented on #11
Yes, that is actually what I want to achieve next with elephas. Good to see there's interest in that.

The challenge is exactly the one you mention: how to get different hyperparameters to workers. That is not trivial, as Spark is inherently data-parallel. So my current naive idea is to *reverse* the roles and store model parameters in RDDs (or the like) and broadcast the same set of data to each

[2016-01-29 07:52] yankov commented on #11
Maybe it'd make sense to pass model hyperparameters as json to workers? There is a `to_json` method to turn a model into a json and to turn it back it's just `model.from_json(json_string)`. So the workers start up, load a batch of data (say from s3), then pop jsons from some queue, train the model, store the result, then pop another json from the queue and so on?

[2016-01-29 08:48] maxpumperla commented on #11
Thanks, that would make sense. You may have noticed that elephas currently uses yaml serialization, but it doesn't really matter (I wrote the serialization module). S3 sounds great, I was thinking the same.

If you generate a list of model descriptions on master, you can just parallelize this into an RDD of strings and distribute models to workers with built-in Spark functionality. That's one opti

[2016-03-01 07:34] bhack opened #12 "Faster async SGD"
What do you think of https://github.com/DoctorTeeth/fred?

[2016-03-01 09:59] maxpumperla commented on #12
Thanks, I've seen this before and it surely makes sense to have more elaborate updates on master. Once I finally manage to integrate parallelized hyperparameter calibration and ensemble methods into elephas, this would be a great addition.

However, also note that elephas comes with their own optimizers, i.e. you can send deltas computed with 'pure' SGD from workers and use e.g. Adagrad/delta to a

[2016-03-02 08:05] maxpumperla commented on #12
@bhack what's your opinion on it? Would you like to see this in elephas?

[2016-03-02 08:29] bhack commented on #12
I still  don't know what is the best schema actually. Other than Yahoo also Amplab it is interfacing Caffe and Tensorflow (that is one of the keras backend). [This is the paper](http://arxiv.org/abs/1511.06051). The repository is at https://github.com/amplab/SparkNet

[2016-03-02 08:52] maxpumperla commented on #12
From a methodology perspective, SparkNet actually does less than elephas, as they only have synchronous updates. Same for Yahoo. I wish I could convince Michael Jordan to co-author a piece of software become paper with me. ;)

Spark's syntax invokes some natural constraints, so many approaches look similar. For instance, DL4J has something very similar for Scala as well.

[2016-03-03 08:25] bhack commented on #12
For the best schema I meant all recent Async SGD papers. SparkNet is younger but I think that it is important to follow what happens there.

[2016-03-03 16:06] maxpumperla commented on #12
Sure, I absolutely agree. Also, if anyone knows how to get the best from Spark, it's Amplab!

The reason both Amplab and Yahoo don't have asynchronous updates is that it's not easily done with Spark. By that I mean, there's no way to tell Spark to map partitions asynchronously. For this reason, elephas implements a "parameter server" with an HTTP REST API (and Spark just helps with Cluster mgmt an

[2016-03-18 13:09] maxpumperla commented on #11
Hi @yankov , I've tried to address your use case with this:

https://github.com/maxpumperla/elephas#distributed-hyper-parameter-optimization

Feel free to give me some feedback, if you like.

[2016-03-22 09:07] zhufengyun opened #13 "Running elephas with 2 machines"
I'm trying to run elephas on a cluster with 2 physical machines.
Machine 1 runs the spark master, machine 2 runs the spark worker (1 worker, 1 core).
With this configuration I can run the "pi.py" from the spark official examples successfully.
But an error occurred while running the "mnist_mlp_spark.py" demo from elephas.
The code is modified like this:
`sc = SparkContext()`
and submitted using
`sp

[2016-03-29 13:30] fluency03 opened #14 "what is the *data parallel* meaning here?"
There are some data parallel exmaples: [here](https://github.com/maxpumperla/elephas/blob/master/examples/mnist_mlp_spark.py) and [here](https://github.com/maxpumperla/elephas/blob/master/examples/mllib_mlp.py)

I am wondering what is the *data parallel* meaning here?

Does it mean that: during each of the epoch, the many batches are paralleled and trained on different workers? After one worker fi

[2016-03-29 14:02] fluency03 commented on #14
Do you have any idea about the speed-up with such data parallel?   For example, a cpu-cluster with 10 nodes compared with Amazon g2.2xlarge instance?

[2016-03-29 14:34] maxpumperla commented on #14
It's data-parallel as in https://en.wikipedia.org/wiki/Data_parallelism, i.e. if you have n workers, then each of them receives roughly num_samples/n samples. I can also recommend the wiki of Spark for what RDDs exactly do internally.

As for the speed-up, that depends heavily on your setup. There's a certain trade-off between network bandwidth and parallelisation speed-up. For instance, if your m

[2016-03-29 15:13] fluency03 commented on #14
Do you mean that, normally, if I run the Keras model on g2.2xlarge, it will only use one GPU instead of all of the four GPUs?

Can I easily use all of them by just doing some configurations on Keras or Theano withouting implementing elephas or spark?

[2016-03-29 17:12] maxpumperla commented on #14
Spark workers run on one machine (physical or virtual). For multi-gpu setup on one machine for keras, you can google for theano or tensorflow multi-gpu:

https://github.com/Theano/Theano/wiki/Using-Multiple-GPUs
https://www.tensorflow.org/versions/r0.7/how_tos/using_gpu/index.html

If you know how to do that you can combine with elephas, i.e. use multi-gpu on each worker

[2016-03-29 17:14] maxpumperla commented on #14
Though I really like to discuss such things, usually github issues are meant for actual issues. Would you agree to close this one?

[2016-03-29 17:22] #14 closed

[2016-04-02 18:13] AntreasAntoniou opened #15 "Massive dataset + data_generator"
Hello guys,

Before I begin, I want to thank you for this amazing tool. It's truely awesome and enables true distributed deep learning out of the box. Now for some questions.

1. From what I've seen I need to load the dataset in memory before I send it to elephas for distributed processing. When the dataset is massive, as in multiple times my ram, how can I use an hdf5 so that each worker can load

[2016-04-02 18:29] maxpumperla commented on #15
Hey @AntreasAntoniou, thanks for the positive feedback, that's very motivating. You're welcome!

1. Well, you load data into an RDD (or data frame), which is distributed already. Most of the examples we provide in the example folder create an RDD from a pair of numpy arrays via a little helper function from elephas. The thing is, though, you could as well read your RDD some file system (HDFS, S3 e

[2016-04-02 18:34] AntreasAntoniou commented on #15
So for data augmentation you suggest I do that locally in the hdf5 file? and create epochs in the hdf5 or something  right?

[2016-04-04 07:07] maxpumperla commented on #15
Generally speaking, I'd prepare small data in-memory, medium-sized via some sort of streaming/augmentaion and large (don't say the magic word here) data with a suitable large-scale processing engine like Spark. For instance, to train on imagenet, we put the whole thing on S3 and use Spark's capability to load directories, as e.g. explained here:

http://stackoverflow.com/questions/27477730/spark-h

[2016-04-04 10:30] bhack commented on #15
@maxpumperla When you are using a model with keras Graph Api you call the fit like
```model.fit(train={'input1':X1, 'input2':X2, 'output1':Y1, 'conv24_output':Y2})```
How could be handled with elephas helper utils with ML pipelines and dataframes?

[2016-04-04 11:26] maxpumperla commented on #15
@bhack the same way as for ```Sequential```, elephas doesn't care which model, as long as it has ```model_from_yaml``` and ```to_yaml``` applicable, so you can borrow from this example:

https://github.com/maxpumperla/elephas/blob/master/examples/Spark_ML_Pipeline.ipynb

[2016-04-04 11:32] bhack commented on #15
@maxpumperla Seems to me that all the fit used in Elephas are only with a single X and Y. See https://github.com/maxpumperla/elephas/blob/ea9b323b326943fd19d601b86549a84c2ff0b192/elephas/spark_model.py#L215

[2016-04-04 11:37] maxpumperla commented on #15
@bhack you're right, I'm not accounting for multiple inputs/outputs. What's happening internally doesn't matter, though. I'm not sure how to account for this properly, but it would be nice to have. I'll have to think about this first.

[2016-04-04 11:38] maxpumperla commented on #15
If you want, you could open another issue for that, not sure that's still the same thing.

[2016-04-04 11:49] maxpumperla commented on #15
I think I'll wait for the release of Keras 1.0 and use the momentum to tackle this.

[2016-04-04 12:19] EderSantana commented on #15
Hey Max, I just noticed you putting up some really good work in here. This is awesome!!!

Let me hop in this question and ask you a few things. If you believe I should start another issue, let me know! But I'd like to hear your opinion.

For several applications (at least those I'm working on :D) the data handling needs more work and the model training is a good old single GPU or at least single m

[2016-04-04 12:39] bhack opened #16 "Support multiple X and Y with keras graph api"
Actually Elephas doesn't account for multiple inputs/outputs.

[2016-04-04 12:39] bhack commented on #15
Ok i've opened a new issue at https://github.com/maxpumperla/elephas/issues/16

[2016-04-04 12:52] maxpumperla commented on #15
Hey Eder, thanks man! I just remembered I still have an issue open on Agnez. Sorry, I have to get back to you soon.

I know exactly what you mean, training is rarely the bottleneck given enough powerful GPUs, but the preprocessing can hurt. If you ask me, Spark is a pretty good choice for the latter, especially since it's built for this domain (which e.g. zeromq is not). Refering to the above ipyn

[2016-04-04 12:57] maxpumperla commented on #15
Right now I unfortunately find little time to follow recent advances in Keras, but I absolutely agree with you that something like this should exist without touch core.

Anyway, I think we could quickly build such a data server API wrapping the above ideas in a module.

[2016-04-04 13:02] EderSantana commented on #15
Thanks Max!

Yeah, I got feathersjs dev to solve your issue :D check it out.

I'd be down to help with this data server API. I'll read your suggestions and see how I can help. Thanks for the quick reply!!

[2016-04-04 14:28] EderSantana commented on #15
on that same subject, dask seems to be an opportunity as well https://github.com/tflearn/tflearn/blob/master/examples/basics/dask.py

[2016-04-04 14:31] maxpumperla commented on #15
Yes, dask is very cool and probably much more straight forward.

[2016-04-05 09:36] lenlen opened #17 "Custom layers"
It seems that custom layers are not recognized in the train phase of spark model, specifically when loaded from yaml (model_from_yaml). I have tried with a custom activation function and it didn't work, the get_from_module function raised an exception "Invalid activation function: ...".

[2016-04-05 10:00] maxpumperla commented on #17
Thanks. Is that maybe a problem specific to Keras, i.e. can you .to_yaml and model_from_yaml() outside of Elephas? Does that work for your layer with plain Keras?

[2016-04-05 10:01] maxpumperla commented on #17
I'm asking because the ```get_from_module``` from Keras will probably only look into the activations submodule of core Keras.

[2016-04-05 14:30] lenlen commented on #17
Thanks @maxpumperla, you are right, the model_from_yaml with custom activation function doesn't work in keras too.
This is an example code:

`
#model is the keras module
#my_function is my activation function
y_string = model.to_yaml()
new_model = model_from_yaml(y_string, custom_objects={"my_function":my_function})
`

Maybe this is not the right way to get the model with custom object... but I ca

[2016-04-05 14:41] maxpumperla commented on #17
Sure, no problem. If you really want to test this right now, fork Keras and put your special stuff there, i.e. in your case put the new activation next to the other keras activations. Then install your fork locally (cd your_keras && python setup.py install). This way there won't be a difference between custom and core.

Currently I see no quick way around this. You have to "register" your custom t

[2016-04-05 14:41] maxpumperla commented on #17
Feel free to close, if you like

[2016-04-05 14:48] lenlen commented on #17
Ok thanks, I closed this issue.

[2016-04-06 09:54] lenlen commented on #17
Hi @maxpumperla I reopen this ticket because I have some news. Using a custom layer instead of custom activation function, the read from yaml works in keras but it doesn't work in elephas. I think that the problem is in spark_model.py when the model_from_yaml(..) is called during the train because it needs the custom_objects parameter.  Using custom_objects parameter directly in keras works for ex

[2016-04-08 17:03] deli4iled commented on #17
I've the same problem. I created a custom layer but it doesn't work.

[2016-04-08 17:53] maxpumperla commented on #17
Alright, I will have to have a closer look at this. I'll have to see how to get the ```custom_objects``` parameter properly into an elephas model. Thanks for this, I'll get back to you

[2016-04-13 08:23] bhack commented on #16
Keras 1.0 is released. There is also a new [functional API for multi I/O](http://keras.io/getting-started/functional-api-guide/)

[2016-04-14 10:01] ducminhnguyen opened #18 "Elephas slice_X error"
Elephas encounter this error with the latest theano. Can you help me fix this.
[code]

[2016-04-14 10:46] maxpumperla commented on #18
Sure, the problem seems to be that in the new Keras version ```slice_X``` is gone from ```keras.models```, theano is fine. I'll have to update elephas to run on keras 1.0. I can probably start tomorrow, not sure.

For now, if you have an urgent use case, consider pinning an older keras version in your virtualenv or something along the line.

[2016-04-14 15:11] ducminhnguyen commented on #18
I change the import for slice_X then this error comes up, is this a keras version error.
[code]

[2016-04-14 19:48] maxpumperla commented on #18
This error indicates that ```model``` is not a proper keras model, as expected, but rather has type ```None```, i.e. the deserialization might have gone wrong. Hence there's no ```fit``` method available.

What exactly do you mean by "change the import for slice_X"?

[2016-04-15 03:12] ducminhnguyen commented on #18
I mean I found slice_X new path in keras and change the import to the new path.

The model compiled so I guess it should work I will include the code.

[code]

[2016-04-15 03:24] ducminhnguyen commented on #18
If I run the model without elephas and spark it works fine.

[2016-04-15 03:54] ducminhnguyen commented on #18
Ok I found an error in spark_model, you load the yaml but you have not compile the model so it returns an error, add a line to compile models solve my problem.

[2016-04-15 04:14] maxpumperla commented on #18
That's cool, thanks for putting in the effort. Would you want to create a pull request for this?

[2016-04-15 06:25] ducminhnguyen commented on #18
Ok I will modify some detail then submit a pull request

[2016-04-15 06:31] maxpumperla commented on #18
Thanks, really appreciated!

[2016-04-15 09:24] bhack opened #19 "Elephas in Mesos"
@maxpumperla we are also experimenting elephas in mesos. Do you have tried to submit at the Spark Mesos dispatcher, so in deploy-mode cluster using docker containers?

[2016-04-15 09:37] bhack commented on #19
I.e. It could be really helpful for users to publish a elephas dockerfile on dockerhub. There are already some official or semiofficial dockerfile for tensorflow, spark, theano etc. So a good ready to run dockerfile for elepahs to deploy and scale on mesos would really appealing.

[2016-04-18 03:21] Humoyun commented on #15
Hello guys,

I have some problems with elephas imports

when I imported :  from elephas.utils.rdd_utils import to_simple_rdd
I got:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/elephas/utils/rdd_utils.py", line 3, in <module>
    from pyspark.mllib.regression import LabeledPoint
  File "/usr/local/spark/python/pyspark/mllib

[2016-04-18 05:52] maxpumperla commented on #15
Hi @Humoyun, that sounds really annoying. Generally, there shouldn't be such errors, which in particular makes them difficult to (remote) debug.

In the next few days I'll have to work on elephas a bit anyway, to bring it up to speed w.r.t. Keras 1.0. When doing that I'll try to reproduce what you have there or at least recommend a way to install things. Sounds OK?

[2016-04-19 01:58] Humoyun commented on #15
@maxpumperla , I fixed this imports, but this time I encountered slice_X error,
"ImportError: cannot import name slice_X"

[2016-04-19 04:57] maxpumperla commented on #15
@Humoyun that is part of the keras 1.0 migration, slice_X resides in a different place now. I'll start with that soon.

[2016-04-25 08:57] qiangsiwei opened #21 "Elephas and RNN"
I have a few concerns about using elephas to implement RNN.
The first is whether the Graph model can be used?
The second is how to deal with variable sequence length in training set? Does it currently support this?
The third is how to save and load model weight? Is it the same with the one in Keras?
Thanks! Looking forward to your reply.

[2016-04-25 11:51] maxpumperla commented on #21
Hi @qiangsiwei, thanks for your questions.

1. Graph models are only supported, if you don't have multiple inputs or outputs (which I have to change, there's already an issue for that)
2. Regarding what's happening internally in a model, you can just use keras.
3. An elephas model in its basic version consists of a SparkContext and a Keras model. So you can just store/load the keras model and as l

[2016-04-28 08:43] qiangsiwei commented on #21
Great! Thanks, btw your code is very clear and easy to understand!

[2016-04-28 08:44] maxpumperla commented on #21
Thank you, I'm glad to hear that!

[2016-05-10 10:04] newzhx commented on #18
I meet this problem, too, how do you solve it?

[2016-05-10 10:08] maxpumperla opened #22 "Migrate elephas to Keras 1.0"
Elephas still only works with keras 0.3 downwards, finally do migrate it.

[2016-05-10 10:09] maxpumperla commented on #18
See #22, I still have to migrate to Keras 1.0. Please work with Keras 0.3 for now if you want to use elephas. Thanks!

[2016-05-10 11:25] newzhx commented on #18
Thank for your work.

[2016-05-16 17:11] bhack commented on #22
:+1:

[2016-05-25 20:59] jnkh commented on #22
Thank you for your great work on elephas! I'm also waiting on this issue -- trying to run Keras stateful recurrent neural nets in data parallel mode (stateful RNN's are not supported in Keras 0.3).

[2016-06-13 16:46] nuri428 opened #23 "spark_model.py determine_master always return 127.0.0.1"
hi there

i runing spark on virtual machine

when spark_model.py: determine_master always return 127.0.0.1

so i use like this

def get_ip_address(ifname):
    s = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)
    return socket.inet_ntoa(fcntl.ioctl(
        s.fileno(),
        0x8915,  # SIOCGIFADDR
        struct.pack('256s', ifname[:15])
    )[20:24])

def determine_master():
        '''

[2016-06-27 18:44] thisiskofi opened #24 "Incorrect batch preparation for AsynchrnonousWorker training"
There is a typo on line 254 of spark_model.py:
nb_train_sample = len(x_train[0])

Should be
nb_train_sample = x_train.shape[0]

This results in incorrect batch preparation

[2016-07-08 10:06] nilesh-c commented on #12
@maxpumperla do you think it's worth it to build a deep learning library like Keras purely in Scala and parallelise it with Spark a la ASIP (https://arxiv.org/pdf/1510.07092v1.pdf), using Spark's Akka cluster for async updates? Could it be more reliable and performant? Also, SparkNet's Scala API doesn't look nice at all (it's via javacpp, not idiomatic Scala).

[2016-07-08 11:18] maxpumperla commented on #12
@nilesh-c Yes, to be honest I want to to exactly this. The initial problem with building a DL lib in Scala is to pick a good vector library. In my view ND4S is currently the best suited. I have an advanced prototype already, but don't have time to clean it up. Breeze is cool as well, but does not have Tensors.

In the end, I'm still waiting for the TensorFlow people to start porting core functiona

[2016-07-08 12:41] nilesh-c commented on #12
That's brilliant. Yeah, I'd agree on ND4S too, although I'd like it to have sparse arrays soon.

Yes, I'm quite interested in building something like this, but I am looking for a couple of people to collaborate with. :( I'd also like to have model-parallelism (splitting layers or model parameter matrix/tensor among N machines), which, I think, none of the existing Spark-based implementations do (I

[2016-07-08 15:12] maxpumperla commented on #12
Amazing, I'd love to have somebody on board! But to be clear, I'm not exactly sure if it's worth the effort to continue with ND4S, since I feel that ultimately a lot of DL frameworks _that do not have auto-differentiation_ move very slowly. So, I really want this tensorflow thing to happen. But one could also argue to have a backend abstraction, like keras, and add TF later down the road.

Regardi

[2016-07-08 18:23] nilesh-c commented on #12
@maxpumperla Super.

I agree. I'd be very much for a backend abstraction like keras in pure Scala (maybe we can use pre-existing auto-differentiation libraries in Java/scala if they exist? I'm not sure how to) to keep things flexible and add TF/anything we wish down the road.

What's your email? Mine is nilesh `at` nileshc.com (the blog's down). Let's keep in touch, yeah. Maybe have a couple of sk

[2016-07-08 21:03] bhack commented on #12
Just an update https://github.com/tensorflow/tensorflow/issues/476#issuecomment-231454081

[2016-07-10 18:18] nilesh-c commented on #12
BTW, playing devil's advocate, do we really need a Scala library like that? Apart from being able to do DL with an idiomatic Scala API, does it add any extra value? I mean, how much more performant do we think it'll be over what elephas does (which looks very similar to ASIP I guess, but with http sockets).

[2016-07-10 18:43] nilesh-c commented on #12
Related: https://github.com/databricks/tensorframes

[2016-07-10 19:12] maxpumperla commented on #12
Good points. In my view it would be more about community, not speed or other technical things. I personally believe Scala will become more important for Data Science as a whole (we need a strongly typed language) and think there's not enough good libraries out there, especially when it comes to DL.

[2016-07-12 18:59] maxpumperla commented on #12
@nilesh-c  did you get my mail?

[2016-07-16 07:56] agibsonccc commented on #12
Hey all - we are actually starting to work on porting keras to scala that wraps dl4j. We're a big believer in having code written the pythonic way but not having the IPC and interop problems tensorflow with spark or a lot of the other approaches people are taking are. If this is interesting, I'll keep an eye on this thread.

[2016-07-16 08:00] bhack commented on #12
We have runned some experiment with Mesos at https://github.com/tensorflow/tensorflow/issues/1996

[2016-07-17 19:22] maxpumperla commented on #12
Hey @agibsonccc, sounds great. I'd be definitely interested to hear the latest. If you like, we can further discuss (mail, twitter, etc.). As mentioned, I've dabbled around with my ND4S DL prototype for a while now and would like to further pursue this topic. How would you like to connect?

[2016-07-18 01:21] agibsonccc commented on #12
Kick me an email @ adam@skymind.io and we can coordinate.

On Mon, Jul 18, 2016 at 4:22 AM, Max Pumperla <notifications@github.com>
wrote:

[2016-08-15 21:47] Claire-Kelley commented on #22
Any progress on this issue? I'm having the same problem as jnkh

[2016-08-20 03:56] pengpaiSH commented on #14
@maxpumperla Hi Max, I have a basic question here. I am using Keras with TensorFlow as backend. And I really wanna to do the data parallelism during my training, i.e. faster convergence with larger batch size. Can elephas help me meet this demand?

[2016-08-22 06:50] maxpumperla commented on #22
@Claire-Kelley there's an open PR addressing this, hope to merge soon.

[2016-08-26 15:08] maxpumperla commented on #22
@bhack @jnkh @Claire-Kelley elephas has been migrated to keras 1.x on master! I'll work on migrating to Spark 2.0 as well and make a new release soon.

[2016-08-26 15:27] Claire-Kelley commented on #22
THANK YOU! That's absolutely fantastic : )

[2016-08-29 06:29] venuktan opened #26 "save the model weights like in keras"
I have trained my model on the data now do I save the model or the model weights ?
Can we save it just like a keras model ?

[2016-09-07 14:54] elenacuoco commented on #22
thanks for this project! I'll wait for integration with Spark 2.0 and spark DataFrame.

[2016-09-07 22:16] Davidott4 opened #27 "Understanding matrix as features"
I have a convolutional network that runs on a 2D numpy matrix, which I'm trying to move onto Spark/Elephas.

The pipeline is numpy array ->  pyspark.mllib.linalg.DenseMatrix -> Convolutional Network prediction.

This gives me the error:
    TypeError: Cannot convert type <class 'pyspark.mllib.linalg.DenseMatrix'> into Vector

Can a multidimensional numpy array be formatted in a way that that a Ker

[2016-09-24 14:13] moshiour opened #28 "installation problem with anaconda python"
Hello,
I got installation issues of elephas on anaconda python:

Collecting hyperopt (from hyperas->elephas)
  Downloading hyperopt-0.0.2.tar.gz (85kB)
    100% |████████████████████████████████| 92kB 3.1MB/s
    Complete output from command python setup.py egg_info:
    DEBUG:root:distribute_setup.py not found, defaulting to system setuptools
    Traceback (most recent call last):
      File "<st

[2016-09-28 13:37] JoeriHermans commented on #22
Hi all,

Did anyone try running this on a multi-node cluster?

I wanted to test Elephas in order to compare the convergence with our implementation https://github.com/JoeriHermans/dist-keras/

We implemented this because Elephas didn't support Keras 1+, and Spark 2.0. But since Keras 1+ is supported now, we want to evaluate and compare the convergence and execution speed of both frameworks. Howeve

[2016-09-28 14:07] elenacuoco commented on #22
Hi,
I didn't try since I've started working with spark 2.0  and elephas still
does not support it.
Does your dist-keras work for Spark 2.0?
thanks
Elena

2016-09-28 15:37 GMT+02:00 Joeri Hermans <notifications@github.com>:

--
--------------------------------------
Elena Cuoco, Ph.D.

EGO-European Gravitational Observatory
Via E. Amaldi
56021 Santo Stefano a Macerata
Cascina (Pisa) Italy

Tel +39.

[2016-09-28 14:52] JoeriHermans commented on #22
Hi @elenacuoco

Yes, it does support Spark 2.0. Check the examples, and just modify the SparkContext creation (since SQLContext is now incorporated in the SparkContext).

[2016-09-28 15:46] elenacuoco commented on #22
Why don't use the dataframe way to read data in your example? Have you tried with these lines?
[code]

[2016-10-11 14:05] mthmn20 opened #29 "Data parallelism on one machine"
This library looks awesome! Does it support data parallel training of a model on multiple GPUs on a single machine?

[2016-10-13 20:08] sshilpika commented on #23
I was facing this issue too but I realized I was using the SparkMLlibModel. The determine_master method wasn't being called so I switched to using SparkModel which worked.

[2016-10-17 20:55] haoyangz commented on #18
As discussed in #22 , master branch now supports keras 1.x . To install this part of (un-released) updates, re-install elephas by
[code]

[2016-10-17 22:06] zzz2010 commented on #29
I also have the same problem. It seems to me elephas only use single GPUs in my 8-GPUs server.  Looking forward to the solution.  BTW, I used Theano as backend.

Thank you

[2016-10-18 04:41] maxpumperla commented on #29
Hey @mthmn20 @zzz2010 that's indeed not very straight forward, as it's not the primary use case I had in mind (distributed mode). Keras, by means of either Theano or Tensorflow, doesn't automatically pick up devices.

To explicitly register multiple GPUs locally, I'd suggest to virtualize, e.g. by using docker, and have each VM access one of the GPUs. I'll see what I can do, maybe I can provide an

[2016-10-18 04:47] #22 closed

[2016-10-18 04:51] maxpumperla commented on #26
@venuktan sure, your `SparkModel` has a `model`, which is just a regular keras model. You can proceed as you're used to.

[2016-10-18 04:51] #26 closed

[2016-10-18 04:57] #11 closed

[2016-10-18 04:58] maxpumperla commented on #18
@haoyangz thanks for helping out here. Bit busy at the moment, but I'm preparing a new release to finally remedy this.

[2016-10-18 04:58] #18 closed

[2016-10-18 05:02] #15 closed

[2016-10-18 05:03] #21 closed

[2016-10-18 20:28] zzz2010 commented on #29
Hi, @maxpumperla , is it possible to randomly select available gpu for each worker process?

[2016-10-19 15:11] mthmn20 commented on #29
@maxpumperla I think François Chollet is apparently working on a [fit_distributed](https://github.com/fchollet/keras/pull/3582#issuecomment-243589285) method for Keras, so it's probably not worth your time to flesh that out here. Was just wondering if it's something you already had done; thanks!

[2016-10-19 15:11] #29 closed

[2016-10-19 18:20] maxpumperla commented on #29
@mthmn20 thanks for letting me know, very helpful! 👍

[2016-10-20 09:31] wangyouan opened #30 "Cannot run synchronous mode"
It looks like SparkWorker needs 8 parameters but only given 4

[code]

[2016-10-21 09:37] kmader commented on #28
You can pre-install the latest version of ```hyperopts``` which has fixed this to get around this issue (it is a Python 3.4) problem.
[code]
Before running
[code]

[2016-10-25 12:36] saikat-roy commented on #23
@sshilpika : I tried using SparkModel for this but it started throwing a "HTTPError: HTTP Error 503: Service Unavailable" error. Have you faced anything similar?

[2016-10-26 13:43] saikat-roy opened #32 "Different weights on driver after applying delta with one worker"
Hello, let me begin by saying that I admit some inexperience with both Keras and Elephas.

I am experimenting on Standalone mode with one worker and 'asynchronous' mode with updates per epoch. I was tracking the updates in the driver particularly.

Correct me if I am wrong but if there is one worker, isn't the application of the delta that is being sent to the driver going to result in the paramet

[2016-11-12 03:58] ErmiaAzarkhalili opened #33 "Support for python3 and Spark2"
Hi,
Could you please update your excellent package to support python 3 and Spark 2 as well. As I know you may utilize hyperas and hyperopt here; hence, updating all these packages would be great help for all people who extensively use them.

[2016-11-22 06:15] sodaling opened #34 "Freezed after submitting code"
I'm running elephas on cluster, but it freezed after submitting my code.
`16/11/22 13:54:06 INFO BlockManagerInfo: Added broadcast_0_piece0 in memory on spark-ubuntu-02:34639 (size: 1555.0 B, free: 511.1 MB)`
I'm running spark on two machines in standalone mode.
My code:
[code]

[2016-11-24 06:09] MeethuM commented on #18
I am getting the error ImportError: cannot import name slice_X with the elephas version 0.3 and keras 1.1.1.
I could see the change in the path of import statement in elephas master branch but not in 0.3 which is version we get via pip install

[2016-11-29 07:13] sodaling commented on #34
Seems it happened due to different version of keras. And the highest version of keras currently supported by elephas 0.3 is 0.3.0

[2016-11-29 07:13] #34 closed

[2016-11-29 07:44] maxpumperla commented on #34
yes, I'm currently going around upgrading my repos. Started with hyperopt, now it's hyperas, next will be elephas. Hope to get this done by the end of the year. Sorry for the inconvenience @sodaling!

[2016-12-06 18:58] emmjaykay opened #35 "get_hyperopt_model_string needs extra parameters"
I built up a newer system using the directions in I have [created](https://github.com/emmjaykay/docker-gpu-spark-keras-hyperopt-hyperas-elephas) and I noticed a newer error message about this function needing more parameters.

The ones I did add seemed to alleviate the issue though I'm not comfortable with the defaults. They are similar to the ones I have seen in the code base.

[2016-12-06 19:14] maxpumperla commented on #35
@emmjaykay your link does not seem to work, but I'd be interested to read what you have there.

You're right, I need to update elephas with regards to the latest version of hyperas. I wanted to do this next in any case, so thanks for letting me know there's interest.

[2016-12-06 19:28] emmjaykay commented on #35
@maxpumperla That would be fantastic. I'd be more than willing to help out with that if you give some guidance. I have extreme interest in hyperparameter optimization for keras models.

Here is what I meant to link: https://github.com/emmjaykay/docker-gpu-spark-keras-hyperopt-hyperas-elephas

The updating you mentioned might also explain why the hyperparameter_optimization.py example is crashing.

[2016-12-06 22:50] emmjaykay opened #36 "hyperparam_optimization.py: Error when checking model target: expected activation_2 to have shape (None, 512) but got array with shape (60000, 10)"
Hi,

A couple of weeks ago during late November I could get the example to work fine. However when I run the example hyperparam_optimization.py this week with most recent elephas I get the following

`  File "/usr/spark-2.0.2/python/lib/pyspark.zip/pyspark/worker.py", line 172, in main
    process()
  File "/usr/spark-2.0.2/python/lib/pyspark.zip/pyspark/worker.py", line 167, in process
    serial

[2016-12-07 17:57] maxpumperla commented on #36
Yes, as I said in the other ticket, I'll need to update this as soon as possible. Thanks for reporting it.

[2016-12-07 17:59] maxpumperla commented on #35
@emmjaykay that sounds great. I'll have to see how much work it actually is (assume  it's fine) and will come back to you if there's anything you might help out with. Thanks

[2016-12-11 05:44] ErmiaAzarkhalili opened #37 "AttributeError: 'builtin_function_or_method' object has no attribute '__code__'"
@maxpumperla Hi,
When I am running the example `
from __future__ import absolute_import
from __future__ import print_function

from keras.datasets import mnist
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.optimizers import RMSprop
from keras.utils import np_utils

from elephas.spark_model import SparkMLlibModel
from elephas.utils.rdd_utils

[2016-12-11 07:41] ErmiaAzarkhalili opened #38 "support spark-2"
@maxpumperla Hey Max,
I think there are errors like "... has no attribute ..." which might cause by incompatibility between spark-2 and its previews versions... does hyperas support spark-2?

[2017-01-13 14:24] kingychiu opened #40 "How to show log on every epoch ?"
I would like to observe the status after each epoch, while the estimator.set_verbosity function is not working.

[2017-03-13 10:32] chungfu27 opened #41 "The rdd is not distributed very well by repartition in spark_model.py"
@maxpumperla I found my training rdd is not be partitioned very well and I commented "repartition(self.num_workers)" in spark_model.py and use random mechanism to do repartiton at to_simple_rdd or in my pyspark script.
Therefore, my training data is distributed on my exectuors very well.
Could you provide the entry point to do repartition at rdd_utils.py, not in spark_model.py?

[2017-03-15 00:40] jrubin01 commented on #35
@maxpumperla Thank you for your work and this great project.
+1 for a resolution to this issue. Would be great to do use elephas to perform hyperparameter optimization with latest hyperas. Cheers.

[2017-03-17 10:49] AlexSnet commented on #35
+1

[2017-04-05 09:59] maxpumperla commented on #41
@chungfu27 yes, that's a good point. we should move this out. not sure we need an explicit helper method, though. you can call repartition at any point you want, no?

[2017-04-05 10:00] maxpumperla commented on #24
thanks, this was addressed in latest PR.

[2017-04-05 10:00] #24 closed

[2017-04-05 10:01] maxpumperla commented on #28
Please upgrade your hyperopt version, I made it fully py3 compatible a while ago. Thanks!

[2017-04-05 10:01] #28 closed

[2017-04-05 10:02] maxpumperla commented on #33
closing this, duplicate of #38 (py3 should be fine)

[2017-04-05 10:02] #33 closed

[2017-04-11 04:31] chungfu27 commented on #41
@maxpumperla yes, I think this helper method to help user to do their repartiton would be okay!
Further, maybe some training data will have data-skew problem, so I think this helper method could provide lambda function to let user to write their partitioner then do repartiton at last.

[2017-04-11 10:56] kirk86 opened #43 "error when importing elephas"
Hi, thanks a lot for your great work. I was wondering if you could give me some hints on this error, which happens every time that I import elephas.

[code]

Also in the front page readme here on github the example indicated below, I think the line with the arrow contains an argument not used any more which is the `num_workers`? Am I right?

[code]

Another thing that I noticed is that by default

[2017-04-14 14:01] milad181 opened #44 "Tasks are not being distributed through Spark Cluster"
Hi there,

I have been trying to test the elephas using the mnist_mlp_spark.py example using a spark cluster with 2 slaves and apparently the model/parameter training is only being handled by the master node (driver) and slaves are doing nothing in this process.

I have monitored the memory usage of worker nodes and no changes while the model is being run.

I am wondering if the elephas only works

[2017-04-14 14:53] milad181 opened #45 "Java heap error in while using a relatively small dataset"
Hi,

I am training a CNN model using elephas to distribute the parameter training and I am getting "out of memory - Spark java.lang.OutOfMemoryError: Java heap space" error.

This model uses a dataset of 2.6 GB and I am using a spark cluster with 2 workers. all the nodes have 15 GB of RAM and 8 cores of CPU. I use the following command to run the program.

spark-submit  --num-executors 8 --executo

[2017-04-15 09:15] jeffonia commented on #44
Which version of your elephas?
I found that version 0.3 and before doesn't compile the model which is deserialized from yaml file, that will cause the error like "RuntimeError: The model needs to be compiled before being used". Well, this is a big problem as i can see, for distributing your model to worker nodes to train or evaluate. Follow this commit: eee20168ca7883c1e8a19a28bae4b7bdafbc0245, yo

[2017-04-16 15:20] milad181 commented on #44
Thanks for your prompt response. I have been using your latest version available at the Github repository. I am also using the Keras 1.2.1 as the version 2 is not fully compatible with elephas. Also I use spark 2.1.

The model is compiled before creating the sparkModel and I do not get any error while I am running it. It just apparently does not send the parameters to workers. Can you kindly send

[2017-04-25 03:46] chungfu27 opened #46 "The spark task is stuck even training job finished"
Hi @maxpumperla ,
I encounter unexplainable problem, my spark task is stuck when fit() or train_on_batch() finished.
First, I think maybe the lock results in this problem in "asynchronous" mode but even I try "hogwhild" mode and my spark task is still stuck.
What do you think there have the other reason to cause this problem?

[2017-05-03 11:30] surajshukla1105 opened #47 "Exception: It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063."
Hi, I am getting error while trying to run model using pyspark

from elephas.spark_model import SparkModel
import elephas.spark_model
import keras
from elephas import optimizers as elephas_optimizers

adagrad = elephas_optimizers.Adagrad()

spark_model = SparkModel(sc,model, optimizer=adagrad, frequency='epoch', mode='asynchronous')
spark_model.train(rdd, nb_epoch=20, batch_size=32, verbose=0, val

[2017-05-07 20:23] isaacmg opened #48 "Keras 2.02 ImportError: cannot import name 'get_from_module'"
I'm trying to use elephas with Keras 2.02 (model is only compatible with the new version). and get the following error: ImportError: cannot import name 'get_from_module'. This is likely due to there being no get_from_module in Keras 2.02. Is there a quick fix that anyone is aware of to get it working with 2.02?

[2017-05-10 13:44] rubenohayon commented on #48
Yes I have the same error

[2017-05-11 02:10] misi1987107 commented on #47
Hello.man,I have the same mistake with you ? Did you slove this problem?
Please help me .

[2017-05-11 06:13] misi1987107 commented on #19
Hey man, Did you try use elephas in yarn?Does that work?

[2017-05-17 03:55] taoyizhi68 commented on #47
same problem here.

[2017-05-26 10:09] verarim opened #49 "Is there Spark 2 support?"
If not, is it planned for any near future? Thanks!

[2017-05-28 21:23] bzhong2 commented on #49
+1

[2017-06-05 10:06] feay1234 commented on #48
I got the same error when I use Keras 2, the problem has been solved by using Keras 1.

I believe get_from_module has been removed from Keras 2

[2017-06-08 09:48] NicGian commented on #48
I too have the same error when calling "from elephas import optimizers"

[2017-06-11 14:06] maxpumperla commented on #49
for the very simple example, just using RDDs, there is  spark 2 support, since this interface hasn't changed. for all other use cases I still have to migrate to spark 2. hope to get around to doing this this month, but I can't promise anything.

[2017-06-11 14:07] maxpumperla commented on #38
closing in favour of newer #49

[2017-06-11 14:07] #38 closed

[2017-06-11 17:39] maxpumperla commented on #48
this should be resolved by #50 above. Install from master, please. Will need more time for another release.

[2017-06-11 17:39] #48 closed

[2017-06-11 17:41] maxpumperla commented on #46
hey @chungfu27, I have to further investigate this. very likely the parameter server does not properly shut down (used in both async and hogwild). Do you experience similar problems with synchronous mode?

[2017-06-12 10:20] chungfu27 commented on #46
Hi @maxpumperla ,
There is no problem in the synchronous mode.
And I added "timeout" in urlopen function of "put_deltas_to_server/get_server_weights" and added error handler for timeout exception to workaround this.
I think the parameter server maybe miss the request and timeout is infinite to result in that the spark driver is always waitting for the job finished.

[2017-06-12 11:41] maxpumperla commented on #46
hmm, sounds plausible. I'll have to investigate how to cancel the request and resume in this case. If you have an idea how to resolve this, please share! thanks

[2017-06-28 22:50] mthmn20 opened #51 "Is there a way not to use the Master as a Worker?"
Hi

First off, thanks for the great library! So I've been trying to use Elephas to train some very GPU-memory-intensive networks, and I've been running into lots of memory issues specifically on the master node, as it's being used to manage the process, do training, and predict. Is there a way not to use the master for training?

Thanks

[2017-06-29 21:53] mthmn20 commented on #44
I had this issue too and was able to get Elephas/Spark to evenly distribute the work amongst workers by setting num_workers really high when initializing SparkModel, e.g. setting num_workers to 40 when my actual number of workers was 2.

[2017-06-30 04:35] mthmn20 commented on #51
Actually I'm just a dummy, all I needed to do was remove the URL of the master from $SPARK_HOME/conf/slaves

[2017-06-30 04:35] #51 closed

[2017-06-30 07:13] maxpumperla commented on #49
Sorry, have to further postpone this to end of July.

[2017-07-05 09:52] helderm commented on #18
I tried running elephas by installing it thorugh pip and still got this error. Can't this issue be opened again until a realase where this bug is fixed is deployed to Pypi?

[2017-07-10 07:03] marcoleewow commented on #29
Hi, any updates on using elephas on multi-GPUs in a single machine? The codes here looks much more elegant than Chollet's[ keras_distributed.py](https://gist.github.com/fchollet/2c9b029f505d94e6b8cd7f8a5e244a4e) as it uses a lot of tf codes and does not use model.fit(). Also, I would like to use the downpour method in elephas instead of merging outputs in chollet's code.

[2017-07-10 17:47] Zsomx commented on #45
+1

[2017-07-12 07:05] marcoleewow opened #52 "Dockerfile needs update"
Apache spark <=2.1.0 does not support Python 3.6, also tensorflow should be updated to 1.1.0 and keras should be updated to keras 2.0.2. However, after I changed the version numbers and tried to run the example files, elephas crash as it does not support the latest spark version yet. I don't mind helping to update Dockerfile once elephas is updated.

[2017-07-24 23:32] mrelich opened #53 "Example with pre-trained model"
Apologies if this is hidden somewhere in the examples, but I am trying to simply use a pre-trained model in spark.  From what I have read, it looks like I should be able to implement a transform object from a keras model like this:

[code]

Then I should be able to call: `res = transformer._transform(df)`.  I realize this isn't by design, so I'm simply hacking this together...  Does this seem plau

[2017-07-25 16:26] mrelich commented on #53
I was making this much more complicated than necessary.  The main issue was data types, which don't really require the full infrastructure of this package.  Sorry for the noise!

[2017-07-25 16:26] #53 closed

[2017-07-27 21:43] mthmn20 opened #54 "Parallelized Predictions"
Hi

It looks like the current predict method of a SparkModel doesn't run in a parallelized fashion. Is this indeed the case and, if so, are there plans to add that functionality?

Thanks

[2017-07-28 07:30] maxpumperla commented on #54
It really depends on your application to see if that is really worth it. The point of elephas (for me) was always to do distributed training and get the resulting model back on master to work with it as regular keras model. Usually predictions are relatively fast and one shouldn't underestimate the overhead it takes to construct e.g. an RDD from test data. Often this already outweighs the speed ga

[2017-07-28 15:30] mthmn20 commented on #54
Thanks! I agree that parallelized prediction probably wouldn't be very useful for production systems, the use case I have in mind is for training when I want to calculate different metrics, some of which can't be implemented in Theano/Keras (or at least not at all straightforwardly), on validation data between epochs, and then do things like checkpoint the model at the epochs it does best on each

[2017-08-07 20:54] brucebismarck commented on #45
+1 Need to improve memory management

[2017-08-14 09:34] teemukinnunen commented on #49
I am also looking forward to see support for Spark 2.x including dataframes. Keep up the good work @maxpumperla !

[2017-08-23 14:52] alaeddinechhima opened #55 "Can i use elephas to enhance the prediction ?"
I want to enhance prediction performance of my keras model so i am wondering if elephas could help me ?

[2017-09-06 13:37] shaygeller opened #56 "save and load keras model to/from HDFS"
Hello,
Im new to elephas and Keras.
Is there a possibility to save the trained model to HDFS and load it later to make predictions?
Thanks

[2017-09-08 10:12] fairyqiqi commented on #47
I'm using Spark 2.2 and I managed to change some of the elephas codes locally to get the example codes run. But I got this issue as well when I ran ml_mlp.py.

Traceback (most recent call last):
  File "D:/spark/initialTry/../GitHub/elephas/examples/ml_mlp.py", line 80, in <module>
    fitted_pipeline = pipeline.fit(df)
  File "D:\spark\spark-2.2.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspark\ml\b

[2017-09-21 09:34] ainrichman opened #57 "Incorrectly dealing with batch normalization layers"
The elephas calculates the deltas of the weights by simple subtraction. This strategy is efficient for the conv2d layers and dense layers. However, modern neural networks always contain batch normalization layers in which the subtraction strategy fails.  Thus, elephas could not be used for distributed training some popular networks such as google inceptions and YOLO.

Can this be solved?

[2017-09-26 19:11] wmeints opened #59 "Serialization fails with error "TypeError: can't pickle ellipsis objects""
I tried to run Elephas, but it fails every time with the follow stack trace:

[code]

I think it has to do with how the Worker types and SparkModel are implemented.
Can you shed some light on this?

[2017-09-29 12:33] nagamanojk opened #60 "ImportError: cannot import name keyword_only"
Hi I'm getting the following error, with older Spark 2.0.1
I also observed that keyword_only is not defined in under pyspark.ml.util
The definition is available at spark/python/pyspark/__init__.py
so I think is sufficient to have from "pyspark import keyword_only"

Traceback (most recent call last):
  File "/home/jayendran/elephas-master/examples/ml_mlp.py", line 10, in <module>
    from elephas.m

[2017-09-29 15:11] nagamanojk opened #61 "Unable to run your example ml_mlp.py deserialize_keras_object"
Hi, there seem to be lot of problem in executing ml_mlp.py.
After adding the following line in elephas/optimizers.py
Finally I got the error mentioned below.

import tensorflow as tf
import six
from keras import optimizers
from keras.optimizers import Adamax
from keras.optimizers import Nadam
from keras.optimizers import TFOptimizer

Traceback (most recent call last):
  File "/home/jayendran/eleph

[2017-10-17 11:42] Nicbyte opened #63 "CNN Training HTTP Error 500: INTERNAL SERVER ERROR"
Hi

I'm testing out elephas trying to train a convolutional neural net.
I keep getting the error below. Any ideas?

17/10/17 11:22:44 INFO TaskSchedulerImpl: Adding task set 1.0 with 2 tasks
17/10/17 11:22:44 INFO TaskSetManager: Starting task 0.0 in stage 1.0 (TID 4, 10.1.11.11, executor 1, partition 0, NODE_LOCAL, 4901 bytes)
17/10/17 11:22:44 INFO TaskSetManager: Starting task 1.0 in stage 1.0

[2017-10-18 18:52] jeff-hernandez opened #64 "ImportError: cannot import name 'slice_X'"
[code]

[2017-10-18 18:56] #64 closed

[2017-10-23 13:35] rayjang opened #65 "Process Process-1: OSError: [Errno 98] Address already in use"
I try to use elephas but I got this error.
I using Keras 2.x,  python3.5 and spark2.0
`adagrad = elephas_optimizers.Adagrad()
spark_model = SparkModel(sc,model, optimizer=adagrad, frequency='epoch', mode='asynchronous', num_workers=4)
spark_model.train(rdd, nb_epoch=20, batch_size=32, verbose=0, validation_split=0.1)`

I got this error.

[2017-10-24 10:40] #65 closed

[2017-10-24 10:41] rayjang commented on #63
I got the same problem. Anyone knows???

[2017-10-24 16:02] rayjang commented on #63
I think I can solve it.
I will test mine. If I make it, i will let u know

[2017-10-24 16:22] rayjang opened #66 "GPU works???"
I use elephas but I think my GPUs are not working.
Does elephas support GPU of each machine??

[2017-10-25 16:19] rayjang commented on #30
same problem with u. Im trying to fix it

[2017-11-04 20:10] FierceKing commented on #56
same question here

[2017-11-05 07:29] komal436 opened #67 "Using elephas as per example failing."
from keras.datasets import mnist
from pyspark import SparkContext
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.optimizers import SGD
from elephas.utils.rdd_utils import to_simple_rdd
from keras.datasets import mnist

sc = SparkContext()
(x_train, y_train), (x_test, y_test) = mnist.load_data()
rdd = to_simple_rdd(sc, x_train, y_train)

mode

[2017-11-05 10:57] rayjang opened #68 "what is the best environment to use elephas?"
keras, tensorflow, spark, elephas, etc.
Which version is the best to use elephas.
I am in trouble to use elephas.
I think that the problem comes from the difference of applications' version.

If anyone who use elephas, could you let me know you environment in detail??

[2017-11-05 14:08] FierceKing commented on #56
hi @shaygeller , I found a very straight forward way by might be the easiest way to solve this problem.
just save the file using model.save('filename.h5'), then open it and save it again using functions that support HDFS file system. for example.

model.save('model.h5')
	# a = model.get_config()
	with open('model.h5', 'rb') as f:
		f_content = f.read()
	tf.gfile.FastGFile(oss_prefix + 'model1.h5',

[2017-11-05 16:30] rayjang opened #69 "py4j.Py4JException: Method __getnewargs__([]) does not exist"
Why the problem happen????
File "/usr/local/spark/python/lib/py4j-0.9-src.zip/py4j/protocol.py", line 312, in get_return_value
py4j.protocol.Py4JError: An error occurred while calling o17.__getnewargs__. Trace:
py4j.Py4JException: Method __getnewargs__([]) does not exist
        at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:335)
        at py4j.reflection.ReflectionEngine.get

[2017-11-17 17:37] gauravyeole opened #70 "ImportError: cannot import name 'keyword_only'"
ImportError                               Traceback (most recent call last)
<ipython-input-26-08c632204ef8> in <module>()
      7 from keras.utils import np_utils, generic_utils
      8
----> 9 from elephas.ml_model import ElephasEstimator
     10 from elephas import optimizers as elephas_optimizers
     11

/usr/local/lib/python3.5/dist-packages/elephas/ml_model.py in <module>()
      4
      5 f

[2017-11-24 19:18] trinayan opened #72 "recommended spark and keras version"
what is the recommended version of spark and keras to be able to run Elephas as shown in the examples.? I was getting started and hope you could tell me these. Thanks for this work.

[2017-11-27 17:22] aditsanghvi94 commented on #54
Any update on whether parallelized predictions are in the pipeline or an easy way to do them?

[2017-11-29 05:41] sflender opened #73 "Issue with mnist_mlp_spark.py example"
Hi, I'm running into the error message below when running the mnist_mlp_spark.py example. I'm using Python 2.7, Keras 0.3.3, Spark 2.2.0. Any idea what is going wrong?

17/11/28 23:38:20 ERROR Executor: Exception in task 1.0 in stage 1.0 (TID 9)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/local/Cellar/apache-spark/2.2.0/libexec/python/lib/pyspark.zi

[2017-11-30 00:33] sflender commented on #73
Ok I found the issue, there is a compile model command missing in the code. Call model.compile(loss='categorical_crossentropy', optimizer='adam') before defining spark_model.

[2017-11-30 00:33] #73 closed

[2017-12-10 19:32] FelipeMarcelino commented on #17
I have the same problem with custom loss function. Somone have a quick fix for this??

[2017-12-10 20:03] FelipeMarcelino commented on #63
I have the same problem here. How do i can fix this?

[2017-12-13 16:53] sflender commented on #59
I get the same error when installing elephas from source. No issue when installing elephas with pip  though.

[2017-12-15 13:01] Zaidihouda commented on #60
Hello,

did you find a solution to this problem, I have the same concern

Thank you
HZ

[2017-12-15 19:31] gauravyeole commented on #70
Please pull the latest commit to the repository.

[2017-12-15 19:32] #70 closed

[2017-12-16 06:36] menon92 opened #74 "Problem with running mnist_mlp_spark.py example"
I am getting this error.
[code]

[2018-01-15 12:05] JokerPW commented on #69
You left no code for us to look, still, as I'm getting the same error, I hope I can give you some directions while I work on my own code:
This problem happens when you try to iterate through a "pyspark.rdd.PipelinedRDD". As it extends the RDD, it should be iterable, but I had many problems in the near past trying to use it as one.
See if you can convert it to a DataFrame or an RDD (still not sure

[2018-01-17 09:50] aalloul commented on #35
+1 for this issue

[2018-01-19 13:51] agubelu commented on #63
I'm experiencing the same issue over here

[2018-01-23 10:47] audac1ty commented on #43
Having the same issue. Can anybody assist?

[2018-01-29 09:07] callmefregy commented on #63
i have the same problem too. Please help

[2018-02-08 14:01] waniss commented on #63
also have the same issue, can you please help us ?

[2018-02-12 13:56] waniss opened #77 "The model is fitted more than nb_epoch times"
Hi,
I am running a code on a cluster with 3 workers. If i set for example Nb_epoch to 30, it doesn't stop, but it runs again 3 or 4 times 30 epochs. Can anyone help with this issue please ?
[code]

[2018-02-14 09:15] marty90 commented on #18
I solved by installing it with
`pip3 install git+https://github.com/maxpumperla/elephas`

[2018-02-14 10:25] maxpumperla commented on #77
which model do you use, which version and with which parameters? Can you create a gist, please?

[2018-02-14 10:34] waniss commented on #77
Hi, in both i'm using the latest version, with python 2.7.

So i checked the code and i find out that, the problem was in the AsynchronousSparkWorker class.
``       if self.frequency == 'epoch':
            for epoch in range(nb_epoch):
                weights_before_training = get_server_weights(self.master_url)
                model.set_weights(weights_before_training)
                self.trai

[2018-02-14 11:50] maxpumperla commented on #77
yeah, `nb_epochs` is still from keras 1, but it's only a warning. should be fine. I'll have to update this at some point (feel free to send a PR, if you find the time).

ok, so each worker runs for 20 epochs, meaning the master gets 20 * num_workers updates. Do you expect this to work differently?

[2018-02-14 13:45] waniss commented on #77
Well, it's not fine, because it's `nb_epoch` that is compiled, the `self.train_config['epochs'] = 1` is useless.
Each worker runs for 20 epochs, but the master will be updated at the end.  So, in total we'll have 400 epochs (20 updates from the loop, and for each again 20 epochs for `model.fit`). Is it correct ?

[2018-02-14 14:13] maxpumperla commented on #77
sorry, I misinterpreted this at first. so, `self.train_config['epochs'] = 1` works for keras 2 models. so you're using keras 1 still? I'm not sure we can ensure full backward compatibility.

If it's OK to switch, do as the keras warning says and rename your epochs.

[2018-02-14 14:33] waniss commented on #77
i'm using Keras 2.1.3.
i'm really sorry, but i'm little bit confused, so the `self.train_config['epochs'] = 1 ` is used to train the keras model : `model.fit(x_train, y_train, **self.train_config)` just with one epoch ?

This is an example, is this how the result shoud be ?
`Train on 1611 samples, validate on 179 samples
Epoch 1/1
***** Master Updated at Elephas Epoch : 0  ******
Train on 1611 sam

[2018-02-21 22:47] MohamedAmineOuali opened #78 "elephas with tensorflow only"
Hello,
could I use elepha without using keras I want to use it with tensorflow only

Thank you :)

[2018-02-22 07:03] maxpumperla commented on #78
@MohamedAmineOuali that's a cool idea I've been thinking about for a while. Having said that, I don't have time for this prior to June (bc of the book). Keep reminding me! :)

[2018-02-28 20:45] mjaber01 opened #79 "TypeError: get_hyperopt_model_string() takes exactly 6 arguments (2 given)"
I am trying to run hyperparam_optimization.py on my machine but it gives a runtime error
TypeError: get_hyperopt_model_string() takes exactly 6 arguments (2 given)!

[2018-03-02 10:24] ivan-bilan commented on #18
Does Elephas support Keras 2? I am getting this error on 2.1.

[2018-03-02 11:30] ivan-bilan opened #80 "How to set up elephas on spark workers with --archives"
When running the basic example from the doc:

rdd = to_simple_rdd(sc, x_train, y_train)
from elephas.spark_model import SparkModel
from elephas import optimizers as elephas_optimizers
sgd = elephas_optimizers.SGD()
spark_model = SparkModel(sc, model, optimizer=sgd, frequency='epoch', mode='asynchronous', num_workers=2)
spark_model.train(rdd, nb_epoch=epochs, batch_size=batch_size, verbose=1, valid

[2018-03-06 13:26] ivan-bilan commented on #80
Can anyone give me any pointers?
Basically, I can do ```import elephas``` without any errors, but when I import _SparkModel_, I get the error. I've installed elephas using _pip2 install git+https://github.com/maxpumperla/elephas_

[2018-03-07 08:46] maxpumperla commented on #80
@ivan-bilan it seems this happens when deserialising the model on workers (`pickle.loads(...)`) for training. are you sure you installed elephas there as well? It seems your spark master knows elephas.

[2018-03-07 09:04] ivan-bilan commented on #80
@maxpumperla I rely on uploading the zip file of the virtual environment and call it within the script:

    virtualenv spark_venv --relocatable
    cd spark_venv
    zip -qr ../spark_venv.zip *

    PYSPARK_DRIVER_PYTHON=`which python` spark-submit --driver-memory 1G --py-files spark_venv.zip filename.py

Then in the file I do:
    sc.addPyFile("spark_venv.zip")

I guess the venv is not read by t

[2018-03-07 09:13] maxpumperla commented on #80
yeah, production systems are always a little messy. in the end I can only guess what's going on. keep me posted in case I can help somehow.

[2018-03-08 12:30] ivan-bilan commented on #80
I found the solution on how to properly distribute the virutalenv to the workers as well:

[code]

This is mainly based on the following blog post: https://henning.kropponline.de/2016/09/17/running-pyspark-with-virtualenv/

[2018-03-08 14:10] maxpumperla commented on #80
cool, thanks for your feedback. I've changed the name of the issue so people can find this. at some point I want to write up how to use elephas from scratch on AWS  or GCE etc., this might be very helpful.

[2018-03-08 14:10] #80 closed

[2018-03-08 16:48] ankushreddy opened #81 "adapter.py "/usr/bin/anaconda/lib/python2.7/site-packages/elephas/ml/adapter.py""
Hi Team,

when I try to fit the model it is giving me an error saying that TypeError: Cannot convert type <class 'pyspark.ml.linalg.DenseVector'> into Vector

      from pyspark.mllib.evaluation import MulticlassMetrics
      fitted_pipeline = pipeline.fit(final_train) # Fit model to data
      prediction = fitted_pipeline.transform(final_train) # Evaluate on train data.
      # prediction = fitte

[2018-03-14 13:55] gzgywh opened #82 "pickle.PicklingError: Could not serialize object: TypeError: can't pickle _thread.lock objects"
The error pickle.PicklingError: Could not serialize object: TypeError: can't pickle _thread.lock objects when I run it on Spark cluster,how to solve it?

[2018-03-14 13:58] gzgywh commented on #74
I got the same problem,how to solve it?

[2018-03-14 15:22] maxpumperla commented on #82
Which mode do you run elephas in, how exactly do you call it etc.

I need more information than one line from your stack trace. Full script and gist of the full stack trace would be a start. thanks!

[2018-03-14 15:25] maxpumperla commented on #74
@gzgywh why do you open a new issue with exactly the same content? I'm closing this one in favour of  #82 then.

Guys, could you please give me a little more info on what you do and how you do it?

[2018-03-14 15:25] #74 closed

[2018-03-15 10:50] gzgywh commented on #82
I run mnist_mlp_spark.py in example

TypeError: can't pickle _thread.lock objects
During handling of the above exception, another exception occurred:
Traceback (most recent call last):
  File "/home/gzgywh/Desktop/mnist_mlp_spark.py", line 67, in <module>
    spark_model.train(rdd, nb_epoch=nb_epoch, batch_size=batch_size, verbose=2, validation_split=0.1)
  File "/home/gzgywh/Desktop/elephas/dist/

[2018-03-16 01:51] gzgywh commented on #74
I run mnist_mlp_spark.py in example on spark yarn

TypeError: can't pickle _thread.lock objects
During handling of the above exception, another exception occurred:
Traceback (most recent call last):
File "/home/gzgywh/Desktop/mnist_mlp_spark.py", line 67, in
spark_model.train(rdd, nb_epoch=nb_epoch, batch_size=batch_size, verbose=2, validation_split=0.1)
File "/home/gzgywh/Desktop/elephas/dist/ele

[2018-03-22 04:15] ivanmontero commented on #18
https://github.com/keras-team/keras/blob/master/keras/engine/training.py#L358

It seems like the `slice_X` method in Keras has been renamed `_slice_arrays`.

[2018-04-07 10:42] mrityunjaykumar911 commented on #82
In my opinion, there is some error while calculation in red itself. Try to debug the red before calling the pickle step.
Like
unwrapped=rdd.map(lambda x:x).collect()

If you are applying any transformation or other kind of functions, make sure that each of transformation steps work.

[2018-04-10 07:03] maxpumperla commented on #37
exactly, work load has to be shipped from master to workers somehow, pyspark serialises instructions via cloudpickle. That means all steps in your training pipeline have to be serializable.

What Spark workers naturally have access to is the Python libraries you installed on them, that's what @omikronsc refers to by "can call other functions that uses them".

[2018-04-11 09:48] maxpumperla commented on #18
I closed it because it has been addressed a while ago. It's on master, just not on pypi

[2018-04-11 23:01] AdrienBaude commented on #82
Have the same error, I just run the example without modifying anything. Any solution ?

[2018-04-20 20:33] chenhuims commented on #79
I hit the same issue. Hope there is a fix!

[2018-04-20 20:35] chenhuims commented on #35
+1

[2018-04-21 21:47] abanskota commented on #35
@maxpumperla and @emmjaykay what was the way around of this issue? I am getting the same error as below. I installed the latest version of elephas and hyperopt from the git repositories. Please let me know how you resolve the issue. Thanks!

`TypeError: get_hyperopt_model_string() missing 4 required positional arguments: 'functions', 'notebook_name', 'verbose', and 'stack'`

[2018-04-25 09:03] raouflamari opened #85 "Implementing LSTM based sequence to sequence autoencoder"
I'm working on reconstructing a 10 timesteps sequence of 32 features.

Here is my Keras model

[code]

[code]
My dataset is a pyspark dataframe. Each row fave a features column as a wrapped array (10, 32). I guess I need to have wrapped arrays in input and output. Does elephas support this?

[2018-04-25 20:06] dbl001 opened #86 "Py4JJavaError: An error occurred while calling o258.fit. : java.lang.IllegalArgumentException"
I'm getting the error (above) running with: Spark_ML_Pipeline.ipynb from Jupyter Lab, on OS X 10.11.6.
I'm running Spark v2.3.0-SNAPSHOT, Anaconda Python .
The error happens with python version 2.11.3 and 3.6.

Any ideas?

[code]

![screen shot 2018-04-25 at 1 00 50 pm](https://user-images.githubusercontent.com/3105499/39269913-1e112266-4889-11e8-8455-0b06887c4d3a.png)
![screen shot 2018-04-25 at

[2018-04-25 20:12] dbl001 commented on #86
The files are in HDFS:
[code]

[2018-04-26 07:29] maxpumperla commented on #79
yeah, so hyperopt and hyperas changed and elephas needs to be adapted. it's just passing more args. you feel like you could do a PR for this?

[2018-04-26 07:41] maxpumperla commented on #86
@dbl001 I have to guess here. it seems this comes down to this line:
[code]

might be worth upgrading to Spark or downgrading to java 8 (pyspark is always a little brittle), see here:
https://stackoverflow.com/questions/48603071/illegalargumentexception-with-spark-collect-on-jupyter?noredirect=1&lq=1&utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

in any case, I don't thi

[2018-04-26 07:45] maxpumperla commented on #85
@raouflamari, no, we have no mechanism for this right now (partly because I'm not sure how to do this "properly").

[2018-04-26 08:14] raouflamari commented on #85
@maxpumperla Thank you

[2018-04-26 20:11] dbl001 commented on #86
Switching from Java 1.9 to Java 1.8 solved the issue with the StringIndexer.
Now, I’m getting issues with the Scaler
Any ideas?

IllegalArgumentException: u'requirement failed: Column features must be of type org.apache.spark.ml.linalg.VectorUDT@3bfc3ba7 but was actually org.apache.spark.mllib.linalg.VectorUDT@f71b0bce.’

and also:

ImportError: cannot import name keyword_only

[2018-04-27 17:03] dbl001 commented on #86
This change corrects the IllegalArgumentException:

from pyspark.sql import SQLContext
#from pyspark.mllib.linalg import Vectors
from pyspark.ml.linalg import Vectors, VectorUDT

[2018-05-01 11:09] PankeshGupta opened #87 "'Model' object has no attribute 'constraints'"
I get this error while training a keras model ..
keras : Keras 2.1.6
elephas : latest updated from master branch

[2018-05-02 07:11] maxpumperla commented on #87
@PankeshGupta can you give me some indication on how you run elephas and your _full_ stack trace? Thanks.

Looks like you're using Keras constraints and elephas isn't able to de/serialise them properly. Can't know for sure at this point.

[2018-05-07 18:56] dbl001 commented on #86
I downgrade from Spark 2.4 to Spark 1.63 (this solved many problems with Alphas).
I’m running jupyterlab and Spark on an AWS EC2 instance.

 I’m getting  this connection error:
[code]
Example Spark programs run fine.  Hadoop 2.6.2 seems fine.
Master port: 5000 is unblocked.
Any ideas which port(s) might be blocked or what might be the cause of this exception?

[code]

[2018-05-08 15:57] jacekad commented on #47
I just got similar issue. Can you advise me how can I fix this issue ?

i want to run it on the local spark instance (context is estabiliseh as below)

import os
import sys
os.environ["SPARK_HOME"]= "C:\\..<my folder>..\\spark-2.2.0-hadoop2.6"
import findspark
findspark.init()
import numpy as np
from pyspark.context import SparkContext
from pyspark.conf import SparkConf
from pyspark.sql import SQL

[2018-05-09 07:14] maxpumperla commented on #47
@jacekad this is a mistake on my end. Need to get back to this at some point. To resolve the problem one has to do precisely as the error message suggest and not let _workers_ access `sc`. Must be in the `_train` method somewhere. training takes place on workers, so SparkContext has to be eliminated from there.

[2018-05-10 06:59] maxpumperla commented on #86
@dbl001 flask is used for the http server, so you have those requirements already (otherwise you'd get a different error). Not sure what exactly happens there, but it seems the workers can't connect to the master's port 5000. Note that the `async` mode you're using circumvents Spark's built-in communication between nodes and is experimental at best. I'd go with synchronous mode on AWS.

[2018-05-10 17:30] dbl001 commented on #86
Thanks!  In ‘synchronous’ mode on AWS:AttributeError: 'Sequential' object has no attribute 'constraints'for delta in deltas:    constraints = self.master_network.constraints    new_parameters = self.optimizer.get_updates(self.weights, constraints, delta)(same as: 'Model' object has no attribute 'constraints'

      #87)ttributeError                            Traceback (most recent call last)
<ipy

[2018-05-10 17:53] dbl001 commented on #87
I am also getting this error in 'synchronous' mode:
[code]

[2018-05-10 18:07] maxpumperla commented on #87
@dbl001 it seems at one point in time you could access `constraints` in Keras directly from models, e.g. here by calling `model.constraints`. At some point this must have stopped working. Would you mind helping out by checking where accessing constraints went? this could be a neat little PR.

[2018-05-10 18:08] maxpumperla commented on #86
@dbl001 I'm closing this one for now, all of what we discussed is either covered in other open issues or needs to be addressed otherwise. thanks

[2018-05-10 18:08] #86 closed

[2018-05-10 19:56] dbl001 commented on #87
Investigating …

[2018-05-12 18:33] dbl001 commented on #87
Have you seen this discussion?  It show how Constraints are currently implemented in Keras.

https://github.com/keras-team/keras/issues/8196

You can call get_config() in constraints.py to get the value of max_norm()
e.g.

def get_config(self):
        return {'max_value': self.max_value,
                'axis': self.axis}

You can also define custom constraints.

Will this approach e.g - getting

[2018-06-26 12:02] mohaimenz commented on #47
Hi Max,
I see the same issue and I have seen the repository. Do not see any fix yet.
Does that mean we can't use it until it is fixed?

Looking forward for your response?

[2018-06-26 12:10] mohaimenz opened #88 "Exception: It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063."
[code]
####################ERROR########################
Traceback (most recent call last):
  File "C:\PythonWorks\mine\dm-dist.py", line 230, in <module>
    sparkModel.train(rdd, nb_epoch=epochs, batch_size=batchSize, verbose=2);
  File "C:\Miniconda3\lib\site-packages\elephas\spark_model.py", line 194, in train
    self._train(rdd, nb_epoch, batch_size, verbose, validation_split, master_url)

[2018-06-28 09:18] mohaimenz commented on #88
@maxpumperla could you please let us know if there is a plan to fix this? If yes then could you please give us a rough idea about the time?

[2018-06-28 09:48] maxpumperla commented on #88
@mohaimenz look, I'm sorry you're frustrated about this, but I don't give any time frames here. Also, duplicating tickets doesn't speed up anything.

I'm trying to figure this out, believe me. There's one place we use broadcasting and that's in `synchronous` mode, which you aren't using.  It's here:

[code]

if you feel adventurous, change this to

[code]

and tell me what happens. That might actu

[2018-06-28 09:54] mohaimenz commented on #88
@maxpumperla fair enough from you. I choose to use this library instead of dist-keras as I love the way it has been done. Furthermore, I am using theano back end. I will try with it and let you know how it goes...

[2018-06-28 09:59] maxpumperla commented on #88
@mohaimenz thanks. yeah, I'm not 100% happy with dist-keras for the simple reason that it _obviously_ started as an elephas fork without ever crediting it (until I forced the guy to do it).

This is how open source dies... instead of trying to grab GitHub fame (useless stars) and being selfish, just try to help out. If Joeri had just put his time into patching elephas and become maintainer, which

[2018-06-28 10:15] mohaimenz commented on #88
@maxpumperla Yeah! I saw the conversation. Finally, he put elephas in reference. I looked at his initial commits and found that they he basically started on top of elephas. I hope elephas will have great future and will be integrated with keras. According to Francois, it is being considered to have features like this.https://www.quora.com/What-is-the-state-of-distributed-learning-multi-GPU-and-acr

[2018-06-28 11:39] mohaimenz commented on #88
@maxpumperla I updated spark_model.py and used tried using it as a custom class for my app. Sill the same error. I will continue working on it and let you know if I find any luck

[2018-06-28 12:29] mohaimenz commented on #88
@maxpumperla just an update. It seems that somehow this error is connected to this error
`ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:64249)`
It seems that it is trying to connect to dynamic port every time and throwing this error when creating SpartContext. I will update you more if I can come out from this issue.

[2018-07-02 01:21] mohaimenz commented on #88
@maxpumperla Just for an update. There was no luck to fix. If I had time, I would have put an in depth look but I am really in a crunch of moment. I need to get other stuffs done for my PhD. I probably need to look at other alternatives for do the distributed training of my DNN model. I would love to hear about the fix in near future.

[2018-07-08 09:31] AliZuhair opened #89 "CPUs load only on master node and no CPUs load on workers nodes during evaluation of the model"
I've installed Spark on Raspberry PI (3 nodes) cluster. I am using Keras to test (evaluate) a model that is previously trained. The problem is that there is no improvement when I run the code on the Spark. I am getting the same processing time when I run the code on single raspberry Pi and on the Spark cluster. After monitoring the CPUs load, it turned out there is only CPU load on master node, an

[2018-07-09 16:39] NarjesKar commented on #48
Go to elephas.optimizers and change the line 'from keras.utils.generic_utils import get_from_module' to 'from thinc.extra._vendorized.keras_generic_utils import get_from_module'

[2018-07-10 07:57] maxpumperla commented on #88
@mohaimenz thanks for your update, good to hear you're still trying. and apologies for the lack of time on my side.

[2018-07-10 09:13] mohaimenz commented on #88
Thanks a lot for your reply. By the way, may I have your suggestion regarding my last question?

[2018-07-11 03:33] mohaimenz commented on #88
@maxpumperla I was debugging SparkModel class and found that the error is happening in this line start_server() method when it is trying to start the server (in this line: self.server.start()). As it is saying the exactly the same error (the title of this thread), I made start_service() method static so that it can be used globally regardless of the class instance to make sure that it is not locke

[2018-07-11 05:17] maxpumperla commented on #88
@mohaimenz hmm, that looks suspiciously like Spark can't find your Python installation... is `pyspark` on your `PATH`? how do you start the process (which command do you use to run in CLI)?

btw, have you tried using `synchronous` mode?

[2018-07-11 05:34] mohaimenz commented on #88
@maxpumperla: I am using visual studio for debugging. It says that spark cant find python, so it falls back to the default python istallation which is fine. I also use conda prompt and I do not see the python istallation issue. Rather, I directly see that it is failing. BTW I am running it in windows.

Yes, I tried to run synchronous mode (which I should not use because I want to achive distribute

[2018-07-11 06:05] mohaimenz commented on #88
@maxpumperla : This is what my code looks like.
[code]

[2018-07-12 04:44] mohaimenz commented on #88
@maxpumperla it seems that we have to follow https://docs.python.org/2/library/multiprocessing.html#the-process-class which basically fixes broadcasting issue. I am working on it. Now I am seeing the following error:
[code]

[2018-07-13 08:39] mohaimenz commented on #88
@maxpumperla Hi Max, I would like to close this issue because the initial error (the title of the issue) has been solved and I mentioned it in the last comment. Before that, could you please tell me if you had a chance to see if elephas works in Windows? I am using windows and it is it not working. I even can't run an example on windows. I would be glad to see your response about this question.

[2018-07-24 01:40] mohaimenz commented on #88
@maxpumperla Hi Max, I am closing this issue. I have found that ELEPHAS does not work in windows. I have ran it in Linux and it is working. However, only frequency='epochs'. Frequency type 'batch' does not work because you are using Slice_X there which does not exist in KEras anymore. I will open a new issue for that.

[2018-07-24 01:40] #88 closed

[2018-07-24 01:52] mohaimenz opened #90 "slice_X Error in frequency == 'batch'"
hi @maxpumperla, it seems that in Asynchronous spark worker class, we are still trying to use slice_X which does not exist in keras anymore.
[code]
Can't we simply replace the above lines with the following?

[code]

[2018-07-24 14:19] mohaimenz commented on #90
So for bothering you too much @maxpumperla . I ended up adding slice_X function to spark_model.py.
I am closing this issue as well.
Thanks a lot for such a nice library.

[2018-07-24 14:51] maxpumperla commented on #90
thanks. but let's leave this open until it's properly resolved

[2018-07-25 03:56] mohaimenz commented on #90
@maxpumperla that would be great. Thanks

[2018-08-02 08:58] sashgorokhov commented on #47
Had the similar issue, not with elephas but with plain pyspark app. Figured out how to resolve it.

Here is my errorneus code sample:

[code]

So the problem here is that i using class variable in my lambda expression. Internally pyspark tries to pickle everything it gets, so it pickles the whole object Foo wich contains reference to spark context.
To fix that, i had to remove reference to that cl

[2018-08-02 09:48] maxpumperla commented on #47
@surajshukla1105 thanks for reporting this!

[2018-08-10 17:35] CiSr commented on #82
Hi, I am also facing the same issue.. Can some one please help us with this ?

I am running the example mllib_mlp.py in pyspark (interactive mode) on a dataproc cluster where every node is equipped with an nvidia tesla k80, has keras 2.2.2, and the latest elephas source code pulled from github.

Copied below is the error stack trace:

... spark_model.train(lp_rdd, nb_epoch=20, batch_size=32, verbo

[2018-08-10 19:17] mrityunjaykumar911 commented on #82
I found two potential changes needed in ml_mlp.py

1. Initializing spark context correctly

`
# Create Spark context
conf = SparkConf().setAppName('Mnist_Spark_MLP').set('spark.executor.memory', '8g').set('spark.driver.memory', '4g').setMaster('local[8]')
sc = SparkContext(conf=conf)
`

2. change Line https://github.com/maxpumperla/elephas/blob/7562adb4bfe8af43b85a3fa43be1f75167d8c836/examples/ml_

[2018-08-15 13:25] maxpumperla commented on #87
this is now fixed on master.

[2018-08-15 13:25] #87 closed

[2018-08-15 13:26] maxpumperla commented on #82
ok, can confirm that this was indeed a problem. it's fixed on master. I'll try to get out a new elephas version on pypi soon.

[2018-08-15 13:26] #82 closed

[2018-08-15 13:27] maxpumperla commented on #79
fixed on master

[2018-08-15 13:27] #79 closed

[2018-08-15 13:27] maxpumperla commented on #72
check out the `requirements.txt` for more info. thanks!

[2018-08-15 13:27] #72 closed

[2018-08-15 13:28] maxpumperla commented on #67
all examples work on master. I added them to unit tests as well.

[2018-08-15 13:28] #67 closed

[2018-08-15 13:28] maxpumperla commented on #60
this has been fixed a while ago. need to get out a new version of elephas soon.

[2018-08-15 13:28] #60 closed

[2018-08-15 13:29] maxpumperla commented on #49
spark2 is definitely supported, check out updated examples and tests.

[2018-08-15 13:29] #49 closed

[2018-08-15 13:30] maxpumperla commented on #68
see `requirements.txt` for reference

[2018-08-15 13:30] #68 closed

[2018-08-15 13:31] maxpumperla commented on #36
the hyperparam example (and corresponding test) works again on master.

[2018-08-15 13:31] #36 closed

[2018-08-15 13:33] maxpumperla commented on #81
this issue has been fixed on master (note that this still worked in spark 1.x, but needed an adapter for 2.x)

[2018-08-15 13:33] #81 closed

[2018-08-15 13:36] maxpumperla commented on #77
this should be fixed on master now. please give me feedback if this still causes unexpected behavior. thanks!

[2018-08-15 13:36] #77 closed

[2018-08-15 13:36] maxpumperla commented on #61
runs on master, just did an overhaul

[2018-08-15 13:37] maxpumperla commented on #55
closing as duplicate of #54

[2018-08-15 13:37] #55 closed

[2018-08-15 13:38] maxpumperla commented on #43
install elephas from master and check out `requirements.txt` for dependencies. thanks!

[2018-08-15 13:38] #43 closed

[2018-08-15 13:41] maxpumperla commented on #37
@ErmiaAzarkhalili I'm going to close this. I just pushed a massive overhaul and I can't reproduce this error at all. check out examples and tests, which all run fine.

[2018-08-15 13:41] #37 closed

[2018-08-15 13:41] maxpumperla commented on #30
fixed on master.

[2018-08-15 13:41] #30 closed

[2018-08-15 13:41] maxpumperla commented on #35
fixed on master

[2018-08-15 13:41] #35 closed

[2018-08-15 13:43] maxpumperla commented on #47
@surajshukla1105 @sashgorokhov check out the latest version on master, I don't see this problem coming up anymore.

[2018-08-15 13:43] #47 closed

[2018-08-15 13:45] maxpumperla commented on #66
yes, if workers have keras + tf they will utilize gpu if available

[2018-08-15 13:45] #66 closed

[2018-08-15 13:47] maxpumperla commented on #69
@rayjang not sure I can do much for you here. I'm not seeing this error anywhere and I've just added a ton of new tests. Feel free to open another issue with _a lot_ more information.

[2018-08-15 13:47] #69 closed

[2018-08-15 13:49] maxpumperla commented on #59
@sflender @wmeints can you check again on current master? Just did a big rewrite of elephas. I've never seen this issue before, but will leave it open for investigation.

[2018-08-15 14:01] maxpumperla commented on #63
hmm, guys. this is impossible for me to debug. I see from your stack trace that the GET request to retrieve parameters has a 200 response, so the server is up and running. but you do get a 500 at a later point. might be that the server crashes and doesn't recover.

I've set the `use_reloader` option of Flask to `True` so the service recovers on failure. Apart from that there's not much more I can

[2018-08-15 14:06] maxpumperla commented on #89
@AliZuhair weird. is this also true in `synchronous` mode? sync uses only built-in spark functionality, no hand-rolled parameter services. if that's the case there's something wrong with the HTTP param server.

In any case I'd encourage you to try latest elephas master, ton of bug fixes etc. might affect your issue as well.

[2018-08-15 14:11] mohaimenz commented on #90
@maxpumperla awesome work max. I will update from the master branch. It seems that you have modularized your code a bit more. I did not know the slice_arrays function at keras.utils.generic_utils.
I do not have any issue right now as I have got a ubuntu machine and this api works there well. I was unable to make it work in windows though.

[2018-08-15 15:37] maxpumperla commented on #90
even better. note that I had to break the API a little, but it's better for the user (in my opinion)

[2018-08-16 00:37] mohaimenz commented on #90
@maxpumperla yeah! I saw that and that is why I said you have modularized the spark model. That is really great. Thanks a lot for you effort for the community.

[2018-08-19 21:41] alaakh42 opened #93 "Py4JJavaError"
**System Specification**
- `pyspark 2.3.1`
- `java 10.0.1 `
- `python 3.6.5`

The following error was raised when fitting a `pyspark.ml.Pipeline` instance to my features
[code]

[2018-08-20 07:19] maxpumperla commented on #93
@alaakh42 I don't see a single elephas snippet in the stack trace, not sure what I can do for you. error in calling `o269.fit` looks dubious.

Can you show me how you set up your pipeline? does your pipeline run if you replace the elephas estimator with another?

[2018-08-20 13:38] alaakh42 commented on #93
@maxpumperla my pipeline consists of instances from `pyspark.ml.feature.RegexTokenizer`, `pyspark.ml.feature.StopWordsRemover`, `pyspark.ml.feature.CountVectorizer` and `pyspark.ml.feature.StringIndexer`

[2018-08-21 10:02] MihailoBackovic commented on #18
I tried pip3 install git+https://github.com/maxpumperla/elephas  but getting an error:

ImportError: cannot import name 'slice_arrays'.

Using keras 2.0.5.

Any ideas how to resolve this?

[2018-08-21 10:35] maxpumperla commented on #18
@mm1mm you need to update keras. this is a little annoying, but keras has first renamed `slice_X` to `slice_arrays`, but then also moved it several times without backward compatibility. Check out [requirements](https://github.com/maxpumperla/elephas/blob/master/requirements.txt) for recommended versions.

[2018-08-21 10:35] maxpumperla commented on #18
p.s. please open a new ticket next time. it's difficult to track stuff that's been closed for ages. thanks :+1:

[2018-08-25 12:49] alaakh42 commented on #93
I tried to downgrade to `python 2.7` but I still get the same error, then I tried to downgrade to `java 1.8.0_181` aka `Java8` and it finally worked.

[2018-08-25 12:50] #93 closed

[2018-09-04 19:16] EvanZ commented on #70
Is this still an issue? I'm getting the same error and am on elephas 0.3.

[2018-09-04 19:31] EvanZ opened #95 "ImportError: cannot import name 'slice_X'"
Trying to reproduce the example mnist application and running into several errors, including this one. I am running:

Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
pyspark==2.3.1

Spark = 2.3.1

[2018-09-04 19:54] maxpumperla commented on #70
it's fixed on master. will have a new release soon

[2018-09-04 19:55] maxpumperla commented on #95
this is also gone on master. expect a release in a week or so

[2018-09-04 19:55] #95 closed

[2018-09-04 23:53] EvanZ opened #96 "Exception: An MLLib Vector can only be created from a one-dimensional numpy array"
Just trying to get the main mnist example to work. As far as I can tell the data loaded from mnist.data() are numpy.ndarray. Is there some extra conversion needed that is not documented in the example?

[2018-09-05 00:16] #96 closed

[2018-09-05 17:09] EvanZ opened #97 "TypeError: __init__() missing 1 required positional argument: 'master_network'"
From the mnist_mlp_spark.py example:

spark_model = SparkModel(model, frequency='epoch', mode='asynchronous')

In the code, however, SparkModel's 2nd argument is `master_network`. What value should be here?

[2018-09-06 12:59] maxpumperla commented on #97
Hey @EvanZ, it's great that you're interested in running the examples. I've mentioned a few times now that master and 0.3 diverge - there's really no need to continue pointing that out. jfyi, the missing argument is the spark context, which isn't really needed anymore (since we can extract it from the RDD or data frame).

Please consider installing elephas from master:

[code]

[2018-09-06 12:59] #97 closed

[2018-09-06 17:52] EvanZ commented on #97
Thanks @maxpumperla! I figured this out late yesterday and installed it that way and have better luck since. There are a few other things I've figured out diverge like setting parameters in `ElephasEstimator`. I'll keep plodding along. ;)

[2018-09-10 16:07] EvanZ opened #98 "Failure to save model"
I added a line to the ML pipeline example to persist a model:

[code]

This results in the following error:

`ValueError: ('Pipeline write will fail on this pipeline because stage %s of type %s is not MLWritable', 'ElephasEstimator_45da805673f52c212557', <class 'elephas.ml_model.ElephasEstimator'>)`

This is against:
`git+https://github.com/maxpumperla/elephas.git@cfa51da7d25f35f55728e09561b322c09

[2018-09-10 16:34] maxpumperla commented on #98
not yet, but it's in the making as we speak. it's in `mp_dl4j` branch with a ton of other cool stuff coming up.

[2018-09-10 16:46] EvanZ commented on #98
Ok, great. I will look forward to that. And maybe checkout the branch as well. ;)

[2018-09-12 09:12] maxpumperla commented on #98
@EvanZ btw, keras models can be pickled now, PR just got merged. once a new keras release is out, this will make things a little easier.

[2018-09-12 21:44] EvanZ commented on #98
@maxpumperla Thanks. I don't want to keep creating issues that might be solved with a new release, so I'll ask this here. I'm trying to build the mnist autoencoder described in the Keras blog:

https://blog.keras.io/building-autoencoders-in-keras.html

I can't quite seem to get it to work, just wondering if there is anything there you might be able to tell me either that is should or should not be

[2018-09-13 06:16] wuhang100 opened #99 "py4j.protocol.Py4JJavaError and Connection refused in using example code"
@maxpumperla Hi, I am new to spark and I would like to apply your amazing code in my project, but it seems like I meet some problems in executing the `mnist_mlp_spark.py` example. The problems come in line `spark_model.fit(rdd, epochs=epochs, batch_size=batch_size, verbose=2, validation_split=0.1)`
1.
<pre>Traceback (most recent call last):
  File &quot;/home/wuhang/pythonwork/ipynotebook/model1.p

[2018-09-13 16:01] EvanZ opened #100 "Error in to_data_frame() when feeding numpy matrix as label"
I am trying to reproduce the basic autoencoder example from the Keras blog:

https://blog.keras.io/building-autoencoders-in-keras.html

[code]

This generates an error, which I believe is due to the label only being accepted as input if it is a scalar array, not a matrix of vectors:

[code]

[2018-09-17 16:59] buddha314 commented on #70
Is there a work-around in the mean time?

[2018-09-17 17:16] maxpumperla commented on #70
install from master...

[2018-09-20 10:33] Vamshi26 commented on #21
Hey , Thanks with the code man , its a great stuff.
But recently i came to know that , i cant use elephas multiple times in same instance.
Let me clear you here,
i have an application , there i can run two nn models at a time ,internally i am using elphas to distirbute it .
But unfortunately , I can't run two models at at time, Since elphas is binding with the PORT 5000, until it free , i cant use

[2018-09-20 11:03] saikswaroop commented on #21
any  fix for this in the latest versions ??

[2018-09-22 12:21] shaktisd opened #101 "How to run an existing keras model on a massive dataset using Spark ?"
I have a keras deep learning model and I have to now process a large dataset over it and calculate the results. This model is already trained, so training is not an issue. I tried exposing my model as a REST service and then calling the same via spark is working fine,but there is a latency factor and for a huge dataset this is a problem. Is there an example someone can quote which I can use as a r

[2018-09-24 11:49] maxpumperla commented on #101
that's a little too vague for me to answer. Of course the Spark setup comes with an overhead. what does "massive" mean here? do you want to do batch prediction for very large batches? If you have a truly out-of-memory data set to predict on, you may not have another option then doing distributed computing (e.g. with Spark).

Creating an RDD or data frame takes a lot of time, but if you already hav

[2018-09-24 11:49] #101 closed

[2018-09-25 04:16] iam-armanahmed opened #102 "Asynchronous mode not working"
# I am trying to run keras autoencoder model in asyncronous mode and its giving following error
## ------------------------ CODE  --------------------------------------------
#### Create Spark Model
spark_model = SparkModel(model, mode='asynchronous', frequency='epoch')
​
#### Fit the Spark model
start= time.time()
spark_model.fit(train_rdd, epochs=hyperparameters['epochs'], batch_size=1, verbose=

[2018-09-25 09:04] prasannapkr commented on #70
How do you go about installing from the master?

[2018-09-25 14:32] maxpumperla commented on #70
you type "how to install python project from github master" into altavista

[2018-09-25 14:41] prasannapkr commented on #70
Did that, now i have code from master and I get the error "AttributeError: 'ElephasEstimator' object has no attribute 'set_nb_epoch'" and "KeyError: Param(parent='ElephasEstimator_4b3ba5dffab8e221b7af', name='loss', doc='Keras loss')" if I comment the line in my code containing set_nb_epoch.

I am running the code provided by your notebook in https://github.com/maxpumperla/elephas/blob/master/exam

[2018-10-02 07:56] maxpumperla commented on #70
@prasannapkr sorry, it's _extremely_ difficult for me to keep track of comments in closed issues.

Yeah, I didn't get around to updating the notebook yet. I think the new setter is `set_epochs` now (reflecting keras' move from `nb_epoch` to `epochs`. You'll find these methods here:

https://github.com/maxpumperla/elephas/blob/master/elephas/ml/params.py

[2018-10-05 14:39] hoyoung2015 opened #103 "What's the keras version?"
When i run, error occurs
`Using TensorFlow backend.
Traceback (most recent call last):
  File "/home/huyang/downloads/analytics-zoo-master/dist/bin/mnist_mlp_spark.py", line 10, in <module>
    from elephas.spark_model import SparkModel
  File "/home/huyang/downloads/analytics-zoo-master/dist/python27/lib/python2.7/site-packages/elephas/spark_model.py", line 18, in <module>
    from keras.models i

[2018-10-12 07:51] GiuliaBarone commented on #102
Hi, I have the same problem. I am trying to run a simple keras MLP model in asynchronous mode and its gives a traceback similar to yours, but there is another message about Spark Context too:

I tried to set this option but it doesn't fix it.
The same problem happens with "hogwild" mode too. The only mode that works is "synchronous" mode
Have you fixed the problem? Any suggests?
This is my traceba

[2018-10-17 23:20] iam-armanahmed commented on #102
@GiuliaBarone any success with async mode?

[2018-10-18 06:53] maxpumperla commented on #102
@iam-armanahmed @GiuliaBarone that urllib error indicates the address can't be found (i.e. it's unlikely you have the right connection string, but no access rights). Possible reasons are:

- http vs https in connection string
- wrong master url
- wrong port

The HTTP parameter server is started and determines and sets the master url here:
https://github.com/maxpumperla/elephas/blob/e0105e8d355fcac

[2018-10-18 06:54] maxpumperla commented on #102
e.g. print `master_url` twice, once on the server and once on the client.

[2018-10-27 09:22] xiaobai721 opened #104 "Py4JError: An error occurred while calling o22.__getnewargs__. Trace"
error trace as below:

Traceback (most recent call last):
  File "/usr/spark-2.3.1-bin-hadoop2.7/python/pyspark/cloudpickle.py", line 235, in dump
    return Pickler.dump(self, obj)
  File "/usr/lib64/python2.7/pickle.py", line 224, in dump
    self.save(obj)
  File "/usr/lib64/python2.7/pickle.py", line 286, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/lib64/pyth

[2018-10-29 08:20] maxpumperla commented on #104
@xiaobai721 sorry, that is not an elephas issue. it seems whatever is in you `map` is not deserializable by Py4J. maybe you have more luck checking in with people from Spark or sqlalchemy.

[2018-10-29 08:20] #104 closed

[2018-10-29 13:44] vickyasokan26 opened #105 "pickle.PicklingError: Could not serialize object: Py4JError: An error occurred while calling o24.__getnewargs__. Trace:"
Hi All

I am trying to use a broadcasted dataframe inside a Pyspark UDF and i am getting pickle error when i register the UDF.

Please find my code below.

fact_ent_df_data =  sparkSession.sparkContext.broadcast(fact_ent_df.collect())
def generate_lookup_code(col1,col2,col3):
     fact_ent_df_count=fact_ent_df_data.
     select(fact_ent_df_br.TheDate.between(col1,col2),
                  fact_ent_

[2018-10-29 16:34] abimur-123 opened #106 "Error while running Spark_ML_Pipeline.ipynb"
While trying to run the code in the example notebook I ran into the following issue:

In cell [17] (last cell in the notebook), I get the following issue while trying to fit the `Pipeline`

[code]

### Environment

OS: Ubuntu 16.04
python version: 3.5.2
pySpark version: 2.3.2
Keras version: 2.2.0

### Changes made to code

1. Import from `from pyspark.ml.linalg import Vectors` instead of `from pys

[2018-10-29 16:58] maxpumperla commented on #106
@abimur-123 yeah, I recall there was another issue mentioning this. Mind sending a PR with your changes? (tbh, I simply forgot to update the notebook)

[2018-10-29 19:03] abimur-123 commented on #106
@maxpumperla Created a PR with the changes mentioned above. Could the issue mentioned above be a result of the python version I'm using?

[2018-11-01 15:53] hager123 opened #108 "why this error KeyError: Param(parent=u'ElephasEstimator_49f09b9cf514ec3ebc45', name='loss', doc='Keras loss')"
usr/local/spark/python/pyspark/ml/param/__init__.pyc in getOrDefault(self, param)
    346             return self._paramMap[param]
    347         else:
--> 348             return self._defaultParamMap[param]
    349
    350     def extractParamMap(self, extra=None):

KeyError: Param(parent=u'ElephasEstimator_49f09b9cf514ec3ebc45', name='loss', doc='Keras loss')

[2018-11-02 16:03] abimur-123 commented on #108
@hager123
Do you have your loss set like the command below?
`estimator.set_loss(<your_loss_function>)`

[2018-11-03 06:31] hager123 opened #110 "why this error ImportError: cannot import name keyword_only"
how can solve this error
ImportError                               Traceback (most recent call last)
<ipython-input-6-e00050f8ead8> in <module>()
     56
     57
---> 58 from elephas.ml_model import ElephasEstimator
     59 from elephas import optimizers as elephas_optimizers
     60

/home/hadoop/anaconda2/lib/python2.7/site-packages/elephas/ml_model.py in <module>()
      4
      5 from pyspark.

[2018-11-05 13:21] maxpumperla commented on #110
there have been two other issues for this, it's fixed on master. install elephas from master to make this work. thanks.

[2018-11-05 13:21] #110 closed

[2018-11-05 21:35] abishek-murali opened #111 "`predict_classes` in ElephasEstimator"
I am trying to use the `ElephasEstimator` model as part of my Spark regression pipeline. I notice the `ElephasTransformer` function has [model.predict_classes](https://github.com/maxpumperla/elephas/blob/54e2c161d922886f2cd904cb72ba22fe64b747c3/elephas/ml_model.py#L161) for the Estimator. I have 2 questions based on this:
1. Can the Estimator only be used with Sequential models? (I understand that

[2018-11-05 22:03] maxpumperla commented on #111
very good point. that's fairly old code that needs to be revisited. the keras API has changed a lot by now. help is welcome.

[2018-11-06 16:45] jomivega commented on #102
I ran into such issues when running code in Jupyter notebook. The issue had to do with the way flask server was being started within an ipython session. I will send a PR today and hopefully that solves your issues @iam-armanahmed (if you're running in Jupyter)

[2018-11-06 17:05] maxpumperla commented on #102
@jomivega can you give more specifics? I'd be curious to hear what went wrong.

In general I'd just like to state here again that elephas wraps Flask in the most boring way possible. So if asynchronous mode does "not work" it will in most cases have to do with _setup_. (app not starting, app down, app not reachable, no authentication or access rights etc.)

[2018-11-06 17:15] jomivega commented on #102
Disclaimer: On Mobile Device atm

@maxpumperla
Of course. Before the errors above, I was also getting a surpressed error, "ZMQError : Adress already in use", when creating SparkModel. So I found via stackoverflow

https://stackoverflow.com/questions/41831929/debug-flask-server-inside-jupyter-notebook

And

https://stackoverflow.com/questions/52457582/flask-application-inside-jupyter-notebook

Basi

[2018-11-07 15:36] abimur-123 commented on #106
Was able to fix this by setting `set_loss` for the Estimator
Closing this issue now

[2018-11-07 15:36] #106 closed

[2018-11-19 04:05] iam-armanahmed commented on #102
@maxpumperla can you point out the paper that is used to implement the synchronous mode in elephas

[2018-11-19 12:12] maxpumperla commented on #102
@iam-armanahmed async mode is modeled after

synchronous is just the implementation that's closest to that, that works with what Spark provides out of the box (simple map-reduce). maybe there's a paper for this, too. didn't check.

[2018-11-19 14:44] anamf opened #114 "minimize function (from HyperParamModel) not updated on hyperas 0.4 from elephas?"
Hi,
I am getting the following error:
`TypeError: minimize() got an unexpected keyword argument 'notebook_name'`

When running the following piece of code:
[code]
These are the versions of elephas and hyperas I use:
[code]
Should I upgrade any of the two?

Thanks,
Ana

[2018-11-19 15:59] maxpumperla commented on #114
@anamf please try elephas 0.4, the resp. code is definitely there:

https://github.com/maxpumperla/elephas/blob/master/elephas/hyperparam.py#L33

[2018-11-22 09:34] anamf commented on #114
Thanks for your quick response @maxpumperla.
I am running now elephas 0.4. May have I found a typo here (should be trials instead of trails)?:
`trails_list = self.compute_trails(model, data, max_evals, notebook_name)`
Line 39 on:
https://github.com/maxpumperla/elephas/blob/master/elephas/hyperparam.py

[2018-11-22 10:47] maxpumperla commented on #114
@anamf thanks for noting this... what a stupid typo. thanks for sending a PR

[2018-11-22 10:47] #114 closed

[2018-11-30 06:32] shailvshah opened #117 "py4j.protocol.py4jjavaerror"
I'm trying to run this on Google Cloud Platform

import pyspark
from pyspark import SparkContext, SparkConf
import elephas

conf = SparkConf().setAppName('App1').setMaster('local')
#SparkContext.getOrCreate().stop()
sc = SparkContext(conf=conf)

[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 06:53 min
[INFO] Finished at: 2018

[2018-11-30 06:44] maxpumperla commented on #117
you can't create multiple spark contexts, there must already be one running. note that in examples I create one to make them self contained.

[2018-11-30 06:44] #117 closed

[2018-11-30 07:00] shailvshah commented on #117
How do I make sure I'm running just one? Because I followed the same code.
Or do I need to stop the SparkContext?

[2018-11-30 08:19] maxpumperla commented on #117
you just leave out the part where you create a new one...

[2018-12-11 09:37] kalkun opened #121 "Discrepancy between release versions"
Really cool project! I just wanted to raise a flag on the different release versions between pypy, setup.py and the latest release tagged on github - and I think an issue was the most appropriate way to go.

The version in pypy is 0.3 which is also the latest tagged release on github, however setup.py states version 0.4 on master.

[2018-12-11 09:59] maxpumperla commented on #121
https://pypi.org/project/elephas/ have a look, v0.4 was released Nov 16 :)

[2018-12-11 09:59] #121 closed

[2018-12-20 13:16] maikonabati opened #122 "ValueError: Improper config format: {'rho': 0.95, 'class_name': 'Adadelta', 'lr': 1.0, 'epsilon': 1e-06}"
Hello!

**After run in Databricks:**
fitted_pipeline = pipeline.fit(train_df)

**Error after execution:**
ValueError: Improper config format: {'rho': 0.95, 'class_name': 'adadelta', 'lr': 1.0, 'epsilon': 1e-06}

**How fix it?**

I try three optimizers: Adadelta, SGD and Adam, my code for Keras Estimator:

![image](https://user-images.githubusercontent.com/10236346/50286656-37fc9500-0447-11e9-9aa6-

[2018-12-29 18:07] Alireza-cman opened #123 "error on making dl4j docker"
Hi,
I have tried to run a simple code but unfortunately, the code execute a weird procedure. after importing the ``from elephas.ml_model import ElephasEstimator`` it will show the below message:
[code]
creating this container take a tremendouse amount of time but after a while it will encounter in 7th step of building docker.
[code]
based on my search, there isn't such a repository.

[2018-12-29 19:02] maxpumperla commented on #123
Those deps are published on Sonatype, see here:

https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/nd4j-native/1.0.0-SNAPSHOT/

Do you intend to use the DL4J integration? If yes, maybe try to work with 1.0.0-beta3 and see if that works for you. Snapshots should work too, though... can you reproduce this or was it just the first try?

[2018-12-29 19:02] maxpumperla commented on #123
@Alireza-cman

[2018-12-29 19:03] maxpumperla commented on #123
p.s.: the wait time is expected, but it's a one-time thing. you need to build all the dl4j jars through pydl4j first.

[2018-12-29 19:13] Alireza-cman commented on #123
No I just want to test my Keras code on elephas framework.
yes, I have tested it on my macbook pro three times and our Lab PC (ubuntu 16.04)
I am thinking that ``org.nd4j:nd4j-native:jar:android-arm:1.0.0-SNAPSHOT`` does not exist on the URL indicated on error. check  [(https://oss.sonatype.org/content/repositories/snapshots/)] and the xml file on the bttom of file directory. there is not android-

[2018-12-30 13:11] Alireza-cman commented on #123
all of a sudden, the pydl4j container is built successfully.

[2018-12-30 13:11] #123 closed

[2018-12-30 14:07] maxpumperla commented on #123
yeah, that sometimes happens... snapshot builds can be a little flaky. glad it worked out!

[2019-01-04 03:48] yueguoguo opened #125 "Support of hyperopt space?"
Does `elephas` support "space" from `hyperopt` for sampling parameter values?

[2019-01-04 08:08] yueguoguo commented on #125
I see the discussion [here](https://github.com/hyperopt/hyperopt/issues/414). It would be great to have the feature!

[2019-01-04 08:44] maxpumperla commented on #125
yeah, but as you see from that discussion it's not that simple :)

[2019-01-05 09:03] yueguoguo commented on #125
@maxpumperla Quite true. Looks like customization of Spark Transformer, Estimator and Evaluator is needed. It is not-trivial though. Will keep an eye on the project. Thanks for the great project. 👍

[2019-01-10 16:34] Alireza-cman opened #126 "very low performance"
Hi,
I have tested my model with elephas properly on ``synchronous`` mode. but when I evaluated the model on test data, I got a very low accuracy result. I've changed every parameter that I could change to see a little change on accuracy. however, the accuracy result on test subset was something around 0.17%.
I was wondering maybe my mode or my parameters could not be compatible for the elephas fra

[2019-01-15 03:14] Anirban2404 commented on #122
Same error

[2019-01-18 11:32] prashant-kikani commented on #122
The issue is, in elephas code itself, they are not returning config in dictionary.
https://github.com/maxpumperla/elephas/blob/master/elephas/optimizers.py#L188

And keras need that.

[2019-01-18 21:48] NanaAkwasiAbayieBoateng opened #127 "Multiple input Keras in Elephas"
I am having difficulty implementing the model below in elephas. From the Elephas page most of the examples combine all features into a single array and build the model.What if you want to enter multiple inputs into the  keras model such as below:

movie_embedding_size = user_embedding_size = 8

# Each instance consists of two inputs: a single user id, and a single movie id
user_id_input = keras.In

[2019-01-18 21:49] NanaAkwasiAbayieBoateng commented on #16
I am having difficulty implementing the model below in elephas. From the Elephas page most of the examples combine all features into a single array and build the model.What if you want to enter multiple inputs into the  keras model such as below:

movie_embedding_size = user_embedding_size = 8

# Each instance consists of two inputs: a single user id, and a single movie id
user_id_input = keras.In

[2019-01-20 09:35] maxpumperla commented on #16
@NanaAkwasiAbayieBoateng it's currently not possible, but I'll add this for the next release (maybe next month)

[2019-01-20 09:38] maxpumperla commented on #127
@NanaAkwasiAbayieBoateng yeah, one issue is enough ;)

[2019-01-20 09:38] #127 closed

[2019-01-22 01:17] NanaAkwasiAbayieBoateng commented on #16
Thank you very much. Looking forward to it.

[2019-01-28 15:19] cdiogo1979 commented on #111
Hi
I overloaded the _transform method of the transformer to work with non classification problems
Also the current version of the transform expects a "features" col not takin the info from the estimator config.

def _transform(self, df):

        features_col=self.getFeaturesCol()

        output_col = self.getOutputCol()

        label_col = self.getLabelCol()

        #output_col = "prediction"

[2019-01-28 15:24] cdiogo1979 commented on #126
Hi, i would expect that there is something wrong with the Transformer. While training the validation has low loss . After taking the same dataset and doing an prediction + validation the loss is much higher . Another thing i notice is that seems the features are being stored in parquet as int32...

[2019-01-29 06:15] collinpu commented on #122
Same Error, @prashant-kikani Do you have a fix?

[2019-01-29 06:58] prashant-kikani commented on #122
Nope.. not solved.. Its library problem.. can't fix until someone send pull request & admin merge it..

[2019-01-30 09:47] maxpumperla commented on #126
@cdiogo1979 thanks for your insights. yeah, how the weights are averaged or otherwise accumulated is an obvious spot to look for. I want to remove elephas optimizers completely for that matter, jfyi

[2019-02-04 19:46] Bfzanchetta opened #128 "ImportError: No module named keras"
I recently installed elephas through https://github.com/maxpumperla/elephas
After a while, i tried to apply the command: $spark-submit --driver-memory 1G ./your_script.py
The command returned >ImportError: No module named keras

When I run python2.7 and type import keras, it works.
When I run python and run import tensorflow as tf, it works.
If I run the sample script from your github, it works, h

[2019-02-07 11:52] AnkBurov commented on #126
Same here. Discovered that after training new trained weights are basically identical with initial weights. Model simply doesn't learn or at least learns new weights, but doesn't save them.

[2019-02-07 14:16] AnkBurov opened #129 "Integration tests lack asserts"
Hi. I've noticed that your 'integration' tests (that do end to end tests like test_spark_model_end_to_end) do not have any asserts.

Is this a bug or a feature?

[2019-02-07 15:48] maxpumperla commented on #129
@AnkBurov this is meant as a safeguard. When, e.g. Keras changes its API, I want to see my examples fail. Unit tests often don't cover that. and I want it automated. So even if there are no asserts, those tests can still fail (and did a few times in the past).

Btw, It's not obvious what a good IT suite for ML software looks like. What do you want me to assert? That accuracy is higher than before

[2019-02-07 15:48] #129 closed

[2019-02-08 14:18] AnkBurov commented on #129
Okay, thanks for the explanation of the reasons.

Usually replacing print() with assert is a good thing to start from. For example
[code]
asserting model that test accuracy is higher than some reasonable value would have prevented this issue: https://github.com/maxpumperla/elephas/issues/126
Not that I care much, but just sayin'.

[2019-02-08 14:50] maxpumperla commented on #129
@AnkBurov thanks for repeating my suggestion and stating your indifference. there are always things to improve, so I'm definitely interested in having conversations with people who do care and actually want to help. Talk is cheap and pointing out flaws in other projects is certainly easier than creating something meaningful yourself, as you might learn at some point. Take care!

[2019-02-10 23:55] sd12832 opened #130 "Integrate Keras based model checkpoint based callbacks"
https://github.com/keras-team/keras/blob/master/keras/callbacks.py#L360

This would be a nice addition to the distributed framework in order to multiple checkpoints of the weights being trained upon.

[2019-02-10 23:57] sd12832 opened #131 "Integrate callback functionality into elephas (History, checkpoints, etc.)"
https://github.com/keras-team/keras/blob/master/keras/callbacks.py#L341

The fit function in Keras returns a graph  that can be used to determine if the model is overfitting or not. This would be very useful from Elephas.

[2019-02-11 07:10] maxpumperla commented on #131
@sd12832 very interesting idea. with elephas, each of the N workers would receive a callback instance. The question is how to consolidate callback data once training is done, i.e. after we send updates back to the master network. A list of callbacks? Suggestions?

[2019-02-11 07:11] maxpumperla commented on #130
how does this relate to your other issue, @sd12832 ? Can you please elaborate your idea a little more?

[2019-02-11 09:04] sd12832 commented on #131
Maybe each worker gets their own history based on asynchronous callbacks, with an option to average the values among all the workers? We can follow the keras code of having a callback base class that is inherited into different purposes.

In terms of the list of callbacks, wouldn't n asynchronous callbacks suffice? Pardon my lack of understanding of the elephas code, I have not looked at it in too

[2019-02-11 09:10] sd12832 commented on #130
While #131 relates to the class History https://github.com/keras-team/keras/blob/master/keras/callbacks.py#L614 and https://github.com/keras-team/keras/blob/master/keras/callbacks.py#L477, This issue is related to the class ModelCheckpoint Class https://github.com/keras-team/keras/blob/master/keras/callbacks.py#L633. We can integrate both issues into one? Especially since they are both related to

[2019-02-11 09:14] maxpumperla commented on #131
@sd12832 thanks for your feedback. yeah, so the first step is to init the master network with a callback, serialize it so that elephas can ship it to workers, and then deserialize the callback and set it to each of the N worker networks. that's the straightforward part (in a way). The question is what to with the callback data. For model history you basically accumulate logs, right? hence my speci

[2019-02-11 09:15] maxpumperla commented on #130
@sd12832 yeah, I'm closing this one. let's discuss in the other. I'll make the title more generic.

[2019-02-11 09:15] #130 closed

[2019-02-11 09:20] maxpumperla commented on #131
after all, elephas' master network _is_ a keras model, which can have callbacks. it may really just be a question of how to incorporate this into the top level API of elephas.

[2019-02-11 20:56] alexzhang2010 opened #132 "parameter server listening port"

[2019-02-11 20:58] alexzhang2010 commented on #132
Is parameter server listening port configurable? I hope it allows to listen on a different port instead of the default port 4000.

[2019-02-11 23:25] sd12832 commented on #131
So this is my understanding of how Elephas works right now (please correct me if I'm wrong). We can just serialize the callbacks, which are registered on the master network, and ship it to the workers. Once we get the data from callbacks(that are grouped together?), we can accumulate the data.

I think early stopping would result in the entire training process to stop, right? Why would we want ear

[2019-02-12 09:32] maxpumperla commented on #132
@alexzhang2010 thanks for the issue. Right now that's hardcoded, but the change required is simple:

https://github.com/maxpumperla/elephas/blob/db8147c501d9ff5dda63931b7c773db999b9743f/elephas/spark_model.py#L71-L72

that's where client and server get initialized, and here is the signature:

https://github.com/maxpumperla/elephas/blob/db8147c501d9ff5dda63931b7c773db999b9743f/elephas/parameter/ser

[2019-02-12 20:10] sd12832 commented on #131
Any updates? I can start exploring the code today.

[2019-02-14 08:51] maxpumperla commented on #131
@sd12832 I can barely follow my github notifications these days, sorry. so no "updates" from me. But your reasoning sounds good, if you poke around a little and see what we can do, I'm happy to discuss here. Let's come up with a plan first and execute in a bit (I can help).

[2019-02-21 03:21] Bfzanchetta opened #133 "problem running elephas_import.py example"
I'm attempting to run /elephas/examples/elephas_import.py on my private cluster.
I set the execution with the command      `sudo spark-submit --driver-memory 10G --conf "spark.pyspark.python=/usr/bin/python2.7" --conf "spark.driver.allowMultipleContexts=true" ./elephas_import.py`      Then it logged:

`SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/hdp/2

[2019-02-21 03:26] Bfzanchetta commented on #128
I figured it out.

It seems that my Python can't be found by Elephas, then a way around it was to add my python path as a configuration parameter to my Spark via command line.

Previous attempt:
`$spark-submit --driver-memory 1G ./your_script.py`

Current attempt:
$spark-submit --driver-memory 1G --conf "spark.pyspark.python=/usr/bin/python2.7" ./your_script.py

It may be helpful for beginners suc

[2019-02-21 03:27] #128 closed

[2019-02-21 09:22] maxpumperla commented on #133
@Bfzanchetta I've been working on a DL4J-backend integration for elephas, to leverage their (much more powerful) parameter servers. Under the hood this uses a tool called `pydl4j` that I wrote, which will build an uberjar with all dependencies and stores it in `~/.deeplearning4j/pydl4j/<context>`.

OK, what your message says is that there is no `createBuffer` method for `Nd4j` with the given signa

[2019-02-21 17:09] Bfzanchetta commented on #133
I did your steps, my setting file config.json is:

`{
"dl4j_core": true,
"nd4j_backend": "cpu", \
  "spark_version": "2", \
  "datavec": true, \
  "spark": true, \
  "scala_version": "2.11", \
  "dl4j_version": "pydlj install"\
}
`

**My execution log:**

`SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/hdp/2.6.3.84-1/spark2/jars/slf4j-log4j12-1.7.16.jar!

[2019-03-06 11:26] jovigb commented on #102
I solved this issue.
see my fork.
https://github.com/jovigb/elephas

[2019-03-07 04:41] #102 closed

[2019-03-08 07:50] maxpumperla commented on #102
@jovigb can you please open a pull request?

[2019-03-14 14:36] nickkimer commented on #85
@raouflamari just curious but did you come up with a solution for this? I am looking at a similar problem and wondering how you were able to reshape the data to fit into LSTM with size (number of samples, number of timesteps, number of features)

[2019-03-17 07:39] mostafa-time commented on #61
This still seems to be an issue. I am getting the exact error as @nagamanojk . @maxpumperla would you please look into this? This issue seems to be the same thing: https://github.com/maxpumperla/elephas/issues/122

[2019-03-19 07:21] jovigb commented on #122
optimizer need serialize, like below

from keras import optimizers
adam_conf = optimizers.serialize(optimizers.Adam())
estimator.set_optimizer_config(adam_conf)

[2019-03-20 03:53] jovigb opened #135 "why use of multi-worker to reduce accuracy"
hi，max
I have a question.  when i use of multi-worker to training, more workers lower accuracy. and it's falling sharply.
why is that? how can i solve it?

[2019-03-20 09:00] maxpumperla commented on #135
Hi @jovigb,

there's no such thing as perfect scalability. Have a look at this law and related topics: https://en.wikipedia.org/wiki/Amdahl%27s_law. On top of that SGD is already approximating gradients as is, but if you distribute computation you lose some accuracy.

For small datasets, it's expected to see a sizable drop, but you shouldn't use data parallelism in this case probably. It's a trade

[2019-03-20 10:04] maxpumperla commented on #61
@mostafa-time thanks for letting me know. I'll try to find time for this.

[2019-03-20 17:01] #133 closed

[2019-03-20 17:03] maxpumperla commented on #122
I removed elephas optimizers altogether in 0.4.2.  You shouldn't see this issue anymore. Let me know.

[2019-03-20 17:03] #122 closed

[2019-03-20 17:04] maxpumperla commented on #126
@Alireza-cman should be fixed in 0.4.2 - sorry for the inconvenience.

[2019-03-20 17:04] #126 closed

[2019-03-20 18:43] mostafa-time commented on #61
Thank you @maxpumperla ! If you find it easier, I could take this on after you point me to the logic of what needs to be done.

[2019-03-20 20:26] maxpumperla commented on #61
I think I fixed it already. Check out elephas 0.4.2

[2019-03-22 10:20] jovigb commented on #135
thanks for your help. maybe as you say. Different model performance differently.

[2019-03-22 11:34] #135 closed

[2019-03-25 11:44] DavidAriel commented on #100
@maxpumperla
Do you think this issue fixable? I can try contribute a pull request if you point me to the right direction

[2019-03-25 13:48] maxpumperla commented on #132
@alexzhang2010 this is now configurable in 0.4.2

[2019-03-25 13:48] #132 closed

[2019-03-25 13:51] maxpumperla commented on #100
@DavidAriel this is a difficult one. If you look at the implementation, @EvanZ is right about the root cause:

https://github.com/maxpumperla/elephas/blob/db8147c501d9ff5dda63931b7c773db999b9743f/elephas/ml/adapter.py#L9-L23

We go through `LabeledPoint`, whose label by definition can just be a scalar. Having said that, nobody forces me to do that - there are other ways of creating a `DataFrame`.

[2019-04-03 13:46] irfaanmeah opened #137 "Probabilities using elephas ?"
Do we get probabilities out using elephas ? I do not see an option in the examples provided.

[2019-04-10 05:40] mostafam opened #139 "Not working with regression problems"
Hello and thank you for this package!

It seems that this package is not useful when the problem is regression rather than classification. After getting errors on my own data when using this package, I realized it always gives error for regression problems. As an example I slightly modified https://github.com/maxpumperla/elephas/blob/master/examples/ml_pipeline_otto.py to make it a regression prob

[2019-04-10 05:41] mostafa-time commented on #61
Thanks @maxpumperla. I tried it and after few changes, the notebook example works (have a PR for it here https://github.com/maxpumperla/elephas/pull/138). However now I have a separate issue on my own data which later I found out later it seems to be elephas's problem with regression task: https://github.com/maxpumperla/elephas/issues/139

[2019-04-17 06:51] rajeevhcu commented on #69
File "/usr/local/lib/python3.6/dist-packages/pyspark/rdd.py", line 325, in map
    return self.mapPartitionsWithIndex(func, preservesPartitioning)
  File "/usr/local/lib/python3.6/dist-packages/pyspark/rdd.py", line 365, in mapPartitionsWithIndex
    return PipelinedRDD(self, f, preservesPartitioning)
  File "/usr/local/lib/python3.6/dist-packages/pyspark/rdd.py", line 2514, in __init__
    self.i

[2019-04-17 06:52] rajeevhcu commented on #69
I am not getting why this error coming

[2019-05-08 18:24] michaelmior opened #140 "Log output overwhelming"
When I train my model with Elephas, my console is flooded with messages like those below making it nearly impossible to monitor progress. How can I disable these?

[code]

[2019-05-08 18:34] maxpumperla commented on #140
I think you can turn this off with `debug=False` in the underlying flask application here:

https://github.com/maxpumperla/elephas/blob/master/elephas/parameter/server.py#L48

unfortunately, I don't currently pass this through as parameter in Elephas models, but you can modify the call here:

https://github.com/maxpumperla/elephas/blob/master/elephas/spark_model.py#L69

hope this helps. If you fin

[2019-06-18 08:19] LinRick opened #141 "A problem about LSTM learning"
Dear sir,
When I use the following LSTM architecture along with keras/elephas, as:
conf = SparkConf().setAppName('RNN_LSTM_Elephas_App').setMaster('spark://master:7077')
# one driver and four workers
sc = SparkContext(conf=conf)

rdd = to_simple_rdd(sc, train_X, train_y)

model = Sequential()
model.add(LSTM(32, input_shape=(train_X.shape[1],train_X.shape[2]), activation='tanh', kernel_initializer=

[2019-06-23 08:04] hadya123 opened #142 "Py4JJavaError"
I am trying to read the csv from my windows computer into my spark environment(  am using ibm dsx). but i am running into this error. i used this command

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-7-7a9597a7aaf7> in <module>()
----> 1 df = spark.read.csv('//D:/documents/text

[2019-06-25 00:54] louis925 commented on #139
Any update on this issue?

[2019-07-21 19:04] kasturinaveen commented on #139
I'm also experiencing same issue.

[2019-08-01 02:09] rsk2327 commented on #46
Hi. Have you been able to find a solution for this yet? I dont face issues while using hogwild, but async and sync versions give issues at times. I see in the logs that the workers have sent back data to the driver. So I am not sure why the model gets stuck there.

[2019-08-19 11:16] saketrule commented on #139
same issue

[2019-09-06 08:28] michaelpetrolini opened #143 "Elephas with a multi-input model"
Hi,
Our keras model takes as input two features, a (30,128) array of OHE strings (for a LSTM layer) and a (9, ) array of statistics about the column, and then concat them. Here's an example model with old values:

![model1](https://user-images.githubusercontent.com/54975151/64406695-befba700-d082-11e9-97eb-a433cdd803ff.png)

Is it possible to fit such a model in a ElephasEstimator and, if so, how

[2019-09-20 10:39] #143 closed

[2019-09-20 10:43] michaelpetrolini commented on #143
Problem solved. We changed our model to a mono-input one and the results are still good

[2019-09-27 00:06] GeoffDuniam commented on #16
Hi @maxpumperla

Any progress on this? We're interested on this functionality as well for classification of astronomical objects where we may have multiple feature arrays.

Cheers

Geoff

[2019-10-03 20:45] jlsouza23 commented on #139
same issue too

[2019-10-09 13:39] datistiquo commented on #82
For the MNIST example but not the jupyter example, instead for the below code:
[code]

I get an analogous error:
[code]

And afterwards:

[code]

[2019-10-10 03:53] GeoffDuniam opened #145 "Elephas, Keras model (not sequential), multiple input vectors - get predictions?"
Hi everyone,
 We have a recurrent neural network model that we've been able to implement in Elephas. The feature vector with the shape (, 2314) contains three inputs, namely a vector of (?,10) of metadata, a bandwidth vector of (?, 256) and the features vector of (?,2048) that gets reshaped into (,256,8). (This is a workaround to address https://github.com/maxpumperla/elephas/issues/16)

Here's th

[2019-10-11 08:11] datistiquo opened #146 "TypeError: can't pickle _thread.lock objects"
Similar to the issue here but different I think:
https://github.com/maxpumperla/elephas/issues/82

For the MNIST example but not the jupyter example, instead for the below code:
[code]

I get an analogous error:
[code]

And afterwards:

[code]

[2019-10-11 16:37] datistiquo opened #147 "ImportError: cannot import name 'SparkContext' and py4j"
Running the example from https://github.com/aviolante/pyspark_dl_pipeline/blob/master/pyspark_dl_pipeline.ipynb

locally and not via jupyter, gives me those messages. 1. about SparkContext and 2.
`ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server
`
[code]

Thank you very much for any help! 😃

[2019-10-15 07:21] Great1414 commented on #139
Also same issue. So the package maybe didn't fit for regression?
I want use the Autoencoder model replace the example, but it fails.

[2019-10-20 17:23] chris-henkel commented on #147
Any ideas what I can do and check how to resolve this?

[2019-10-21 09:53] marvinxu-free commented on #56
what HDFS mean is hadoop distribution file system.

[2019-10-23 07:03] maxpumperla commented on #56
right. it's a difficult question whether elephas should provide functionality like this. I'm open to adding features like that, but you could also argue that "how do I store stuff in my DB" is somewhat of a separate issue.

anyway, thanks for providing that snippet @FierceKing

[2019-10-25 10:27] cnd opened #148 "cPickle.PicklingError: Could not serialize object: NotImplementedError"
Getting error running this examples without modifications:
(getting that error even with using git version `pip install --no-cache-dir git+git://github.com/maxpumperla/elephas.git@master`)

Example I've used: https://github.com/maxpumperla/elephas/blob/master/examples/ml_pipeline_otto.py

(I was trying to enable tf.compat.v1.enable_eager_execution() but other code doesn't work with that setting)

[2019-10-28 19:16] zachary62 opened #149 "can't open jupyter notebook if elephas is pip installed in dataproc cluster"
I create a dataproc cluster using following steps:

1. use default nodes configuration
2. enable Component gateway
3. Optional components: select Anaconda and Jupyter Notebook
4. Add the following script to Initialization actions
https://github.com/GoogleCloudPlatform/dataproc-initialization-actions/blob/master/python/pip-install.sh
5. add Metadata key: PIP_PACKAGES value: tensorflow keras scikit-

[2019-10-29 09:42] maxpumperla commented on #149
@zachary62 thanks for reporting this. unfortunately, this is a very complex setup to reproduce, I won't have time to look closer into it any time soon.

But help me understand what's happening here. Are you saying the jupyter notebook server crashes (gives you a 500) because you install elephas? If you install vanilla elephas through pip, there are actually relatively few dependencies. Do you also

[2019-10-29 17:40] zachary62 commented on #149
Thank you for your reply. I have tried more cases and am pretty sure that the pip installation causes jupyter notebook server to crash. Could you provide more details about vanilla install?(like which commands I should run)

I run the following commands on each node:
[code]
Here is the output from install elephas:

[code]

I guess it's because it reinstalls and overwrites jupyter packages.

[2019-10-31 08:23] hzqn1234 commented on #82
Hi, is the new elephas version on pypi available? I pip installed the elephas package recently and still find this issue : (

[2019-11-07 06:16] kris1710 commented on #145
Facing the same issue, Did you find any workaround this?

[2019-11-15 06:29] GeoffDuniam commented on #145
Hi kris1710,

We have a very rough workaround (and I do mean very rough) that may work - still playing around with it to clean it up. It's an implementation of #111 and it will run - but the output is a little inconsistent. I've had to put the investigation into this on hold (trying to get a paper submitted for review before the end of next week). Basically, it's a modification of the ml_model.py

[2019-11-18 07:25] 372046933 commented on #56
Actually, you can use Keras with `model.save('hdfs://NAMENODE_IP:NAMENODE_PORT/PATH_TO_MODEL')`. And if you want to specify user name of HDFS, specify `HADOOP_USER_NAME` in the environment. All the rest is taken care by the framework

[2019-11-18 08:10] maxpumperla commented on #145
@GeoffDuniam if you could get this onto a remote branch of a fork of elephas or so, it'd be much easier for me to review and distill your ideas into something that could become a fix.

Thanks for looking into this btw.

[2019-11-18 08:27] GeoffDuniam commented on #145
@maxpumperla  Hi Max, will do as soon as I can - like I said, it's extremely rough and  certainly needs work.  Got it working on Keras Model classes with n-dimensional feature vectors, but getting the predict class working was a little complex - the use case we're looking at has custom loss functions that I suspect we'll to be able to pass in at some stage.

Could be a couple of weeks before I can

[2019-11-18 09:46] maxpumperla commented on #145
no worries and thanks again. rough is perfectly OK, I'm glad somebody found the time to look at this at all!

[2019-11-26 19:38] kuabhish commented on #101
hello @maxpumperla

What if we want to train on a out of memory data and tune the hyperparameters, Can elephas handle that? If yes , How?

[2019-12-11 14:37] weeellz commented on #148
I have the same problem. PTAL.

[2019-12-17 12:40] MunishaTripping commented on #82
I am getting this error while running estimator.fit(train_data). Any solution ?

 * Serving Flask app "elephas.parameter.server" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
WARNING: Logging before flag parsing goes to stderr.
I1217 12:07:50.018700 1403714506

[2019-12-19 05:47] iamontheinet opened #151 "_pickle.PicklingError: Could not serialize object: ValueError: substring not found"
Hi!

I am trying out this example [https://github.com/maxpumperla/elephas/blob/master/examples/Spark_ML_Pipeline.ipynb](https://github.com/maxpumperla/elephas/blob/master/examples/Spark_ML_Pipeline.ipynb) and getting
`_pickle.PicklingError: Could not serialize object: ValueError: substring not found` error
when fitting the model at line -- _**fitted_pipeline = pipeline.fit(train_df) # Fit model to

[2020-01-06 11:42] NiklasCorneliusKunz opened #153 "Pickle.loads(obj) EOFError"
When trying to run the MNIST example, I get the following error right after the parameter server launches. The error occurs both in the asynchronous and the synchronous mode.

I would be thankful for any help or ideas.

**Spark cluster:** GCP Dataproc
**spark-submit parameters:** local[8], driver-memory: 8G

**Stack trace:**

[code]

[2020-01-09 11:42] MunishaTripping commented on #151
Any solution to the above problem or any alternatives to distribute a keras model for regression . I am facing the same.

[2020-01-22 14:12] romeokienzler commented on #82
@maxpumperla can you please reopen? It seems that you haven't created a package. But using the following workaround I was able to run the example

pip install -e git+https://github.com/maxpumperla/elephas.git#egg=elephas

[2020-02-03 06:09] veenboodagoli commented on #105
Hello, Did you solve this. I am getting similar error

[2020-02-03 06:16] shan1322 commented on #65
any solution to this problem?i killed a spark process in execution when i got this error

[2020-02-05 04:55] shan1322 commented on #45
i get this error when increase training set size from 100000 rows to 200000
what can i do improve memory management i have 50gb ram for all executors and driver

[2020-02-05 10:44] A-Fayez92 commented on #149
any updates ?

[2020-02-11 18:40] #19 closed

[2020-02-11 18:40] #16 closed

[2020-02-11 18:46] #12 closed

[2020-02-17 21:35] zanderkent opened #155 "Column mismatch when doing fitted_model.transform(data)"
![image](https://user-images.githubusercontent.com/20103229/74687626-2a998280-5192-11ea-838b-6c706b5cb463.png)
![image](https://user-images.githubusercontent.com/20103229/74687788-a7c4f780-5192-11ea-9ed0-00ac8a547a00.png)

As you can see the training works fine, but when I try to predict on the same dataframe it is expecting 5 columns, instead of the 3 columns that it has. I've done some serious g

[2020-02-25 12:58] AjayJadhavDS commented on #146
any update on this issue. I am also facing the same.

Running on windows 10, Python 3.7

Error -

WARNING
Using TensorFlow backend.
Traceback (most recent call last):
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "Elephas.py", line 69, in <module>
    Temp()
  File "Elephas.py", line 62, in Temp
    spark_model.fit(rdd, epochs=epochs, batch_size=batch_size, verbo

[2020-02-27 08:29] markojurkovic commented on #151
Same issue here (running either natively in Windows or natively in Linux using WSL).

[2020-03-04 13:25] michaelpetrolini commented on #151
It seems to be a conflict with keras/tensorflow. I've been able to solve this by downgrading Keras to version 2.2.4.

[2020-03-11 19:40] Binjielu opened #157 "AttributeError: 'ElephasEstimator' object has no attribute 'setFeaturesCol'"
When I was initializing ElephasEstimator, I can't set features col nor label index? Can anyone help?

[2020-04-13 22:51] sherrylau opened #158 "TypeError: can't pickle SwigPyObject objects"
Hi,

I was using ElephasEstimator() similar to the testing code here https://github.com/maxpumperla/elephas/blob/master/tests/test_ml_model.py

The code i used:
    # Input Layer
    input_layer = Input(shape=(input_dim, ))

    # Encoder & Decoder
    encoder = Dense(encoding_dim, activation = "tanh")(input_layer)
    decoder = Dense(input_dim, activation = 'relu')(encoder)

    autoencoder = Mod

[2020-04-14 07:40] proloyghosh1234 commented on #146
I am also facing the same issue with

[2020-04-16 06:13] hanzigs opened #159 "PicklingError: Could not serialize object: ValueError: substring not found"
I am creating a pipeline with Spark ML ElephasEstimator, while fitting train_data i get PicklingError, can i have help on this. Thanks (I am Doing in Databricks Cluster)
[code]
Error
[code]

[2020-04-16 06:31] apremgeorge commented on #151
Did that work with keras 2.2.4?

[2020-04-16 06:46] michaelpetrolini commented on #151
Yes, I also had to downgrade Tensorflow to 1.14.0. here's a list of my working elephas environment:
absl-py==0.9.0
astor==0.8.0
attrs==19.3.0
backcall==0.1.0
bleach==3.1.1
certifi==2019.11.28
Click==7.0
cloudpickle==1.3.0
Cython==0.29.15
decorator==4.4.2
defusedxml==0.6.0
elephas==0.4.3
entrypoints==0.3
Flask==1.1.1
future==0.18.2
gast==0.3.3
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
hyperas

[2020-04-21 01:17] Alwaysproblem commented on #56
It turns out that it is not working on the hdfs path with model.save and the program will be stuck.

tensorflow 2.1.0

[2020-04-21 09:27] YingxuH commented on #159
I am having the same problem. I created a deep learning model on google colab and tried to fit the model to rdd.

[2020-04-24 05:02] YingxuH commented on #159
@apremgeorge I solved the error by installing

Seems to be some problem with Keras dependencies

[2020-05-14 15:19] Ben-Epstein commented on #131
Hello, are there any updates on this? I think this is a crucial tool

[2020-05-14 15:25] Ben-Epstein commented on #82
That workaround isn't working for me. Does elephas support tf 2.0?

[2020-05-31 05:50] M-A-A-B opened #160 "TypeError: get_hyperopt_model_string() missing 1 required positional argument: 'data_args'"
I am trying use minimize function of HyperParamModel like mentioned below:
[code]
And I am getting the following error:
`TypeError: get_hyperopt_model_string() missing 1 required positional argument: 'data_args'`

I think this issue is related to the following resolved issues:
[https://github.com/maxpumperla/elephas/issues/79](url)
[https://github.com/maxpumperla/elephas/issues/35](url)

The error

[2020-06-11 08:24] Soothysay commented on #157
Can you share your code snippet?

[2020-06-21 15:24] AntonOellerer commented on #155
Hey, I had a similar problem and fixed this by passing `elephas_estimator.set_optimizer_config` a `SGD` optimizer instead of an `Adam` optimizer.

[2020-06-21 15:24] AntonOellerer commented on #139
Hey, I had a similar problem and fixed this by passing `elephas_estimator.set_optimizer_config` a `SGD` optimizer instead of an `Adam` optimizer.

[2020-06-21 15:27] AntonOellerer commented on #159
Just fyi, with `tensorflow==1.15.3` and `keras==2.2.5` it should work aswell

[2020-06-21 15:27] AntonOellerer commented on #151
Just fyi, with `tensorflow==1.15.3` and `keras==2.2.5` it should work aswell

[2020-07-02 19:50] gprashmi commented on #157
Hi,

Even I am facing the same issue. Below is my code:

#my initial spark statements
     from pyspark import SparkContext, SparkConf
     from pyspark.sql import SQLContext
     conf = SparkConf().setAppName('Elephas_App').setMaster('local[4]')
     sc = SparkContext(conf=conf)
     sql_context = SQLContext(sc)
     #SQLcontext is created using sc for realational functionality
     sql_context =

[2020-07-07 02:27] gprashmi commented on #157
@Binjielu I resolved this issue by just removing the two lines:

estimator.setFeaturesCol("features")
estimator.setLabelCol("label")

Since we define the input and output through our model, it code works fine without these lines.

[2020-07-10 05:50] ann-kuruvilla commented on #85
So LSTM implementation of time series forecasting cant be implemented with elephas now right?

[2020-07-18 15:01] kinzarshad opened #161 "Elephas"
**I'm working on keras  elepas. but Saprk model.fit is giving some error. that i don't really understad. I'll appreciate it someone can help me.
Here is my code**

pip install elephas

import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Conv2D, MaxPooling2D, Flatte

[2020-07-22 18:09] SaiBeathanabhotla opened #162 "Use elephas to do multi-label classification"
I came across Elephas to distribute Keras models in Spark. I am using it for multi-class classification problem and it seems to work fine.

I am wondering how to use this for multi-label classification where the target variable will be a list of 0's and 1's. For example, the target variable can be [0, 0, 1, 0 ,1 0, 0 , 0 , 1, 1]. I have the Keras model which works on a pandas dataframe for multi-l

[2020-07-27 16:01] leozzz620 commented on #155
Hi, I have used your method, but it doesn't fixed. Can you tell me more about how to fix it?

[2020-07-27 16:04] leozzz620 commented on #139
Hi, how do you fix it? I used your method but still have error.

[2020-07-29 05:46] TsingJyujing opened #163 "Failed to run even a simple demo"
I tried to run an Auto Encoder demo but failed:

|package|version|
|-|-|
|tensorflow-cpu|2.3.0|
|elephas|0.4.3|
|keras|2.4.3|

[code]

The model compiled successfully.

I tried to train in local, succeeded:

[code]

But failed to train by using Elephas:

[code]

It shown: `ValueError: Could not interpret optimizer identifier: 0.0`

Even I tried import keras from tensorflow, it also failed.

[2020-08-04 09:53] AntonOellerer commented on #155
Thats all I did, here is the code excerpt if it helps you:
[code]

[2020-08-04 09:54] AntonOellerer commented on #139
Thats all I did, here is the code excerpt if it helps you:

[code]

[2020-08-04 15:20] SaiBeathanabhotla commented on #162
Can someone please help me with this?

[2020-08-05 17:37] leozzz620 commented on #139
Hi I think you are doing a classification work not regression

[2020-08-06 22:22] Caveman08 commented on #139
As leozzz620  commneted what you have shown so far is not a regression. Changing the optimizer wouldn't be enough for the .fit to know you are working on something other than a classification problem.

I'm trying to scour for some info on applying elephas on a regression problem, does the package even support it? The fit at the end should be applied to an x_train, y_train and validated on an x_tes

[2020-08-10 10:36] AntonOellerer commented on #139
Sorry, I just commented since the error messages are really similar

[2020-08-14 12:13] romario076 opened #165 "'ElephasEstimator' object has no attribute 'setFeaturesCol'. Could not interpret optimizer identifier"
import keras
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras import optimizers, regularizers
from keras.optimizers import Adam

# Set up Deep Learning Model / Architecture
model = Sequential()
model.add(Dense(256, input_shape=(input_dim,)))
model.add(Activation('relu'))
model.add(Dropout(rate=0.3))
model.add(Dense(256))
model.add(Activation('

[2020-09-10 22:22] TheGlobalist opened #166 "ValueError: Could not interpret optimizer identifier: False"
I'm using Tensorflow 2.3 and I'm trying to initialize the following LSTM

[code]
If I try to use Elephas for training the network, I get the following error

[code]

[2020-09-21 08:08] WangHeguan opened #167 "[Errno 8] nodename nor servname provided, or not known"
Traceback (most recent call last):
  File "/Users/heguanwang/Documents/code/spark-keras/lstm_elephas.py", line 69, in <module>
    spark_model = SparkModel(model, frequency='epoch', mode='asynchronous')
  File "/usr/local/lib/python3.7/site-packages/elephas/spark_model.py", line 70, in __init__
    self.client = HttpClient(self.port)
  File "/usr/local/lib/python3.7/site-packages/elephas/parameter

[2020-10-09 13:41] suustol commented on #166
I have the same problem, curious to know the solution

[2020-10-10 22:35] #140 closed

[2020-11-11 02:13] riasto1 opened #169 "Object detection, segmentation using elephas"
Hi Elephas team, awesome project with great efforts, I manage to test it out with some simple model for classification problems. I wonder is there anyway for Elephas to be integrated in some popular net like YOLOv4, EfficientNet, etc. for object detection and segmentation problems. Could I have some documents or examples for them? Big thanks. I would also like to ask why there is a difference in a

[2020-11-13 17:21] cciliber commented on #165
Hi, same problem.

for me the "setFeaturesCol" error is an issue with pyspark version. Downgrading to 2.4.x solved it.

I am still struggling with the second one though... any insight would be appreciated! : )

[2020-11-30 16:18] dentonmwood commented on #166
Same here, even downgraded from Spark 3.0.1 to Spark 2.4.7 to try and fix.

[2020-12-03 03:05] mawfia commented on #157
Apologize if too late but for anyone using PySPark API 3.0+ that reads this in the future you can set the feature and label columns in the ElephasEstimator constructor as such:

estimator = ElephasEstimator(labelCol='label', featuresCol='feature')

You can set all or a combination of the attributes in the constructor by omitting 'set' and 'set_' and use lowercase for first letter.

[2020-12-03 15:01] cciliber commented on #165
I managed to have the system work with my setup by installing keras version 2.2.4

I hope this helps someone else : )

[2021-01-14 23:40] danielenricocahall commented on #155
This was actually an issue with not supporting regression problems. Regression problems are officially supported as of 0.4.5!

[2021-01-14 23:40] #155 closed

[2021-01-14 23:41] #163 closed

[2021-01-14 23:43] danielenricocahall commented on #111
Both of these problems are resolved in 0.4.5: https://github.com/danielenricocahall/elephas/releases/tag/0.4.5

[2021-01-14 23:44] #111 closed

[2021-01-14 23:46] danielenricocahall commented on #146
This issue may be resolved in the latest 1.0.0 release - I believe it was an issue with compatibility with Tensorflow 2.x API. Please try and let me know!

[2021-01-14 23:48] #23 closed

[2021-01-14 23:49] #56 closed

[2021-01-15 00:12] #161 closed

[2021-01-15 00:14] danielenricocahall commented on #166
I believe this problem is resolved with https://github.com/maxpumperla/elephas/pull/164. Please reopen if it the problem persists!

[2021-01-15 00:14] #166 closed

[2021-01-15 00:20] danielenricocahall commented on #131
I will start working on this for the next release, as it seems like a useful and desired feature!

[2021-01-15 00:21] #13 closed

[2021-01-15 00:24] #32 closed

[2021-01-15 00:25] danielenricocahall commented on #137
@irfaanmeah Can you clarify what you mean by probabilities?

[2021-01-15 00:26] #159 closed

[2021-01-15 00:26] #151 closed

[2021-01-15 00:27] danielenricocahall commented on #139
Support for regression was introduced in 0.4.5 - please retry and let me know if you run into any issues!

[2021-01-15 00:27] #139 closed

[2021-01-15 05:25] CoderandGymnast commented on #146
@danielenricocahall I tried with the latest 1.0.0. release. I'm still facing that issue. Could you give me some advices?

[2021-01-15 22:40] danielenricocahall commented on #146
@CoderandGymnast I made some modifications with the imports - I was able to run the following successfully:
[code]
Can you try the above? I'm running tensorflow 2.1.3 and pyspark 3.0.1.

[2021-01-16 03:34] CoderandGymnast commented on #146
* Here are my configurations:

* I tried your modified codes and still faced the same error.

[2021-01-16 03:35] CoderandGymnast commented on #146
@proloyghosh1234 @AjayJadhavDS @datistiquo Any update on this issue?

[2021-01-16 03:45] danielenricocahall commented on #146
@CoderandGymnast just tried and succeeded with a clean environment and same configuration, so I'm not sure what the problem is :( Maybe it's an issue with running on a Windows machine? I may have triage it further, but it does not appear to be reproducible on Linux machines.

[2021-01-16 03:57] CoderandGymnast commented on #146
@danielenricocahall OK, I'll set up & try on a virtual Linux machine.

[2021-01-16 09:53] CoderandGymnast commented on #146
@danielenricocahall
I use **WSL2** with **OpenJDK 11.0.9.1** and everything works perfectly. Thank you so much.

[2021-01-16 20:32] danielenricocahall commented on #146
@CoderandGymnast great! Glad to hear it :)

[2021-01-16 20:32] #146 closed

[2021-01-17 00:07] danielenricocahall commented on #165
The issue with the second problem should be resolved in the newest release (1.0.0). Regarding the first two problems, that's because the `HasFeaturesCol` and `HasLabelsCol` mixins were changed in Spark 3.0.0 to remove the setter methods. I could implement those methods in the ElephasEstimator and add a deprecation warning. The input and output are defined through the model, so those methods aren't

[2021-01-17 00:08] danielenricocahall commented on #157
Thank you @mawfia ! I may add a deprecation warning to these methods to avoid this issue in the future.

[2021-01-17 00:09] #157 closed

[2021-01-17 00:09] #165 closed

[2021-01-17 00:11] danielenricocahall commented on #57
Hello @ainrichman, would you happen to have suggestions on how to correctly implement distributed BN?

[2021-01-17 00:54] danielenricocahall commented on #145
As of 0.4.5, there is support for the Keras functional API, so this should no longer be an issue. Regarding multiple inputs, that's a separate issue which I will be looking into for a future release.

[2021-01-17 00:54] #145 closed

[2021-01-18 04:41] danielenricocahall commented on #54
I just finished implementing distributed predict and evaluate - they should be in the next release coming out this week!

[2021-01-18 04:45] danielenricocahall commented on #108
This error occurs if the loss is not set in the `ElephasEstimator`.

[2021-01-18 04:45] #108 closed

[2021-01-18 04:46] #61 closed

[2021-01-18 04:46] #52 closed

[2021-01-18 04:47] #59 closed

[2021-01-18 04:48] #167 closed

[2021-01-18 04:50] #98 closed

[2021-01-18 04:50] #44 closed

[2021-01-18 04:51] #41 closed

[2021-01-18 04:52] danielenricocahall commented on #45
Is this still an issue for anyone?

[2021-01-19 02:25] danielenricocahall commented on #54
Officially added support for parallel prediction and evaluation in 1.1.0: https://github.com/maxpumperla/elephas/releases/tag/1.1.0 feel free to play with it and let me know how it goes!

[2021-01-19 02:25] #54 closed

[2021-01-19 02:25] danielenricocahall commented on #55
Officially added support for parallel prediction and evaluation in 1.1.0: https://github.com/maxpumperla/elephas/releases/tag/1.1.0 feel free to play with it and let me know how it goes!

[2021-01-19 02:26] danielenricocahall commented on #27
Is this still an issue?

[2021-01-19 02:27] danielenricocahall commented on #46
Is this still an issue?

[2021-01-19 02:29] danielenricocahall commented on #78
This sounds like an entirely separate project (although a cool one!). I will close this ticket for now.

[2021-01-19 02:29] #78 closed

[2021-01-19 02:30] danielenricocahall commented on #89
Is this still an isue?

[2021-01-19 02:30] danielenricocahall commented on #63
Is this still an issue?

[2021-01-19 02:32] danielenricocahall commented on #99
Is this still an issue?

[2021-01-19 02:33] danielenricocahall commented on #85
This is currently not supported - I can look into it if it's something that would benefit a lot of users? I would definitely want some input and assistance, as I do not know what the best way to implement this is.

[2021-01-19 02:35] danielenricocahall commented on #105
Is this still an issue?

[2021-01-19 02:36] danielenricocahall commented on #141
Elephas currently doesn't support LSTM training/prediction - it can be added if enough users request it! Although I would definitely want some assistance/feedback.

[2021-01-19 02:38] danielenricocahall commented on #147
Is this still an issue?

[2021-01-19 02:40] danielenricocahall commented on #158
Can you check on the latest release if this is still an issue?

[2021-01-19 20:31] #27 closed

[2021-01-19 21:28] danielenricocahall commented on #169
Hello @riasto1 , I can add an example this week for object detection/segmentation in the `examples` folder. Also, regarding your second point - how big of a discrepancy was there in the accuracy? Is there a reproducible example? Thank you!

[2021-01-19 21:29] danielenricocahall commented on #162
Hello @SaiBeathanabhotla, what was the primary issue with doing multi-label classification? Was the model just performing poorly, or was there an actual error?

[2021-01-19 21:32] danielenricocahall commented on #40
This is related to https://github.com/maxpumperla/elephas/issues/131 - I may look into that for an upcoming release.

[2021-01-22 00:20] danielenricocahall commented on #160
Is this still an issue?

[2021-01-23 16:33] danielenricocahall commented on #17
I will look into this - I think it will just be a matter of ensuring `custom_objects` can be optionally supplied every place we call it.

[2021-01-24 15:46] danielenricocahall commented on #17
This is officially resolved in 1.2.0 - you'll just have to ensure to supply the `custom_objects` anywhere the model is loaded i.e;

[code]
Same process applies for a custom layer.In the context of an estimator:

[code]

[2021-01-24 15:47] #17 closed

[2021-01-24 15:49] danielenricocahall commented on #148
This issue occurred because originally, when metrics were supplied to a model (https://github.com/maxpumperla/elephas/blob/master/elephas/spark_model.py#L44), it was then provided as a list of MeanMetricWrapper (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/metrics.py#L599) to the workers, which didn't work with TF 2.0 API. The issue is resolved in 1.0.0 onward, as w

[2021-01-24 15:49] #148 closed

[2021-01-24 15:50] danielenricocahall commented on #153
Is this still an issue?

[2021-01-24 15:50] danielenricocahall commented on #142
Is this still an issue?

[2021-01-25 01:46] riasto1 commented on #169
Hello @danielenricocahall, really appreciate your support. First, about my second point in the first comment, my friend does the experience on malaria classification problem, I would like to ask and check if he still keeps the result. I would like to present more pressing points in my opinion, tf2 is currently rising in demand, and the support for tf1 will soon diminish. So I wonder if the team ha

[2021-01-25 02:03] danielenricocahall commented on #169
@riasto1 yes! TF 2 is officially supported as of Elephas 1.0.0 - please feel free to test out and play with the latest release (1.2.1). Regarding your second point, yes I know some distributed computing support has been introduced in TF 2.0 - we may try to incorporate some of the new features in future releases. Currently the team is just me, so it may take some time, but definitely stay tuned! :)

[2021-01-25 03:52] riasto1 commented on #169
That is very reassuring to hear that, thanks a lot, wish for the best to the team and the project

[2021-01-26 17:04] #160 closed

[2021-01-28 00:38] danielenricocahall commented on #89
Ah I just read through this again - yes, this is expected actually, as distributed inference/evaluation wasn't introduced until 1.2.0 (with a minor bug fix to evaluation in 1.2.1). If you update to that version, then do `spark_model.evaluate(...)` instead of `spark_model.master_network.evaluate(...)`, it should do distributed evaluation on the data.

[2021-01-28 00:38] #89 closed

[2021-01-28 03:39] JWenBin opened #171 "Can we use 'elephas' in a maven project(scala/Java)?"
Can we use 'elephas' in a maven project(scala/Java)? I can't find any jars for my maven project.

Thanks!

[2021-01-29 09:20] maxpumperla commented on #171
@JWenBin no, sorry. this is a Python-only project using `pyspark`. We've had a `DL4J` integration at one point, but we discontinued it.

[2021-01-29 09:20] #171 closed

[2021-01-30 22:35] OscarDPan opened #172 "[ElephasTransformer] inefficient transform method?"
Hi if I understand correctly, the ElephasTransformer does not do distributed inference instead it first collects all rdds to the driver and let driver does the prediction before parallelizing it to the spark cluster.

https://github.com/maxpumperla/elephas/blob/master/elephas/ml_model.py#L185

Isn't this approach quite inefficient? Why not use something like dataframe udf to do the inference?

I'd

[2021-01-31 21:19] danielenricocahall commented on #172
@OscarDPan good point! I actually reviewed and refactored it myself - we now perform feature extraction + inference in a distributed way. I will make a minor release for this update.

[2021-01-31 21:57] OscarDPan commented on #172
awesome! Looking forward to it

[2021-02-01 02:59] danielenricocahall commented on #172
Test it out in 1.3.1!

[2021-02-01 18:47] OscarDPan commented on #172
Hi @danielenricocahall Thanks for the quick update and release!
I read your commit and thought it's reasonable but when I tried it out on a small dataset the speed was surprisingly significantly slower than the old way.
I am going to try other ways of implementation and see if I can speed it up. Will keep you posted :)

[2021-02-01 19:04] OscarDPan opened #173 "Synchronization mode update logic"
Hi @danielenricocahall
I saw another possible bug in the model synchronization logic
https://github.com/maxpumperla/elephas/blob/master/elephas/spark_model.py#L184

Let's say we train 2 models on separate datasets and in the end we update the master network. If we take average of the models we then have ((initial_weights + delta_1) + (initial_weights + delta_2)) / 2 == initial_weights + delta_1 /

[2021-02-01 23:35] OscarDPan commented on #172
Hi @danielenricocahall
So I've been using pyspark's SparseVector to represent my features
and in my case if I use
[code]
it will give me a very good performance boost.

[2021-02-01 23:42] OscarDPan opened #174 "options to predict probabilities given a classification model"
Can we make it optional to predict either a label or probability when
[code]
There are a lot of use case in the industry that probability prediction is more important than just label prediction.

Thanks.

[2021-02-03 02:40] danielenricocahall commented on #174
Good suggestion! I can work on that, or feel free to add it yourself in a PR :) . I think it should be fairly simple.

[2021-02-03 10:04] danielenricocahall commented on #173
Closed with https://github.com/maxpumperla/elephas/pull/176

[2021-02-03 10:04] #173 closed

[2021-02-03 10:04] danielenricocahall commented on #172
Closed with https://github.com/maxpumperla/elephas/pull/176

[2021-02-03 10:04] #172 closed

[2021-02-03 12:33] danielenricocahall commented on #174
@OscarDPan feel free to take a look at https://github.com/maxpumperla/elephas/pull/177. If you think it's good, I'll merge it in.

[2021-02-03 12:49] danielenricocahall commented on #162
This may be related - in https://github.com/maxpumperla/elephas/pull/177, we introduce the capability of predicting probabilities in the `ElephasTransformer`. Between this feature and the `predict` method on the `SparkModel`, I believe that functionally, multi-class classification should be feasible - the only issue is that predicting the classes has to happen on the application side, since the ou

[2021-02-03 21:35] OscarDPan commented on #174
hey @danielenricocahall Thanks for the quick update! Generally LGTM and I left a comment.

[2021-02-03 21:40] OscarDPan opened #178 "datasize < batch size?"
Hi @maxpumperla do you mind give an explanation why you placed this if-statement in the first place? (cc @danielenricocahall )

https://github.com/maxpumperla/elephas/blob/master/elephas/worker.py#L107
https://github.com/maxpumperla/elephas/blob/master/elephas/worker.py#L116

Does it matter if my batch size is bigger than the available training data?

[2021-02-03 23:00] SaiBeathanabhotla commented on #162
It was an actual error. Since the target variable is multi-label (array) but Elephas was expecting a float. So I was getting an error of type mismatch.
Also, as you mentioned you have introduced the capability of predicting probabilities, I would want to try it out. Do you have a working notebook that I can try out?

[2021-02-04 00:08] danielenricocahall commented on #174
@OscarDPan I don't see the comment - is the review submitted?

[2021-02-04 00:13] danielenricocahall commented on #162
It should be in the next release, which will be coming out later tonight or early tomorrow.

[2021-02-04 07:40] maxpumperla commented on #178
@OscarDPan the idea is that you might not want to train if you don't have enough data to fill a single batch in the first place. We're using `train_config`, which has a pre-defined `batch_size`. This may be clearer in the second case above.

I know that this led to errors at some point, but maybe this check isn't needed anymore. Would you be willing to write a test with a dataset that violates the

[2021-02-04 08:31] OscarDPan commented on #178
Will do. Thanks.

[2021-02-05 04:17] OscarDPan commented on #178
So I was contemplating whether I should remove the check if there's some historical reason ("this led to errors at some point"), and it makes sense that batch size should not be greater than number of samples.

It took me awhile to realized this if-statement after trying to run unittest with huge batch size and model wasn't updated at all.

I wanted to ask you guys what would be the best approach:

[2021-02-06 00:17] danielenricocahall commented on #178
I'm in favor of 3 for sure - it would be great to use a logger in several places in the code instead of `print`.

[2021-02-06 02:34] danielenricocahall commented on #174
Done and released in 1.4.1!

[2021-02-06 02:34] #174 closed

[2021-02-06 02:36] danielenricocahall commented on #137
This is now supported with 1.4.1 release. Please test it out and let me know what you think! Just need to `set_predict_classes` to `False` in the estimator.

[2021-02-06 02:36] #137 closed

[2021-02-06 02:37] danielenricocahall commented on #162
This is offically in 1.4.1 release - please try it out at earliest convenience!

[2021-02-08 10:20] maxpumperla commented on #178
@OscarDPan if there's no need for the if-clause, go for 1., else please go for 3. `print` makes no sense in distributed systems most of the time. you want to properly log to the Spark driver.

btw, just to get this conceptually clear, the problem is not "huge batchsizes", but rather small, left-over batches at the end of your training set. I.e. think of a data set of length 10005 and batch-size 10

[2021-02-08 22:44] Gasolgasol opened #179 "Saving and loading trained ElephasTransformer"
I am trying to train ElephasEstimator in one file, save the resulting ElephasTransformer and then load it and do prediction/evaluation in another file. I use `fitted_model.save( "test.h5")` to save the transformer and then `transformer = load_ml_transformer('test.h5')` to load it. However while I try to run prediction "pred_test = transformer.transform(df)",  I get an error  `AttributeError: 'Elep

[2021-02-12 02:39] danielenricocahall commented on #179
I will look into this over the weekend!

[2021-02-12 02:56] OscarDPan commented on #179
oh yeah @Gasolgasol I was trying to do the same thing. In the nutshell the test.h5 doesn't include any information other than what the yaml contains.
[code]

[2021-02-12 03:04] OscarDPan commented on #131
Hi @danielenricocahall I was wondering if you are at this project yet? I think for now Elephas doesn't support any Callback? I was thinking if I can help with adding some high level integration to accept Callback objects? If yes maybe I can start working on it sometime next week.

[2021-02-12 11:17] danielenricocahall commented on #131
I started working on it but I've been a bit busy - nothing too groundbreaking, just playing with the idea of making the callback objects a broadcast variables. There were a few minor bumps I hit that I haven't worked around yet - I can push up my branch over the weekend in case you want to use it for reference. Otherwise, feel free!

[2021-02-13 03:56] danielenricocahall commented on #179
Just released a patch (1.4.2) with the fix - we just had to ensure `weights` and `model_type` were available in the config for serialization/deserialization.

[2021-02-14 06:18] Gasolgasol commented on #179
Thank you for fixing the bug. Instead of sitting and waiting I just decided to go ahead with RDDs and SparkModel approach for now. So testing ElephasTransformer is on hold :-)

[2021-02-16 10:49] cicciolado opened #180 "Load Dataset for Image Classification"
In the examples the mnist dataset from keras is used, but it is already loaded as numpy.ndarray. I would like to load my RGB image dataset into a Spark dataframe. In Pyspark there is the method:

spark.read.format("image").option("dropInvalid", True).load(path)

which allows you to load all the images contained in the path into a dataframe. In the Dataframe there is a row for each image, and each

[2021-02-17 17:47] #179 closed

[2021-02-19 20:36] OscarDPan opened #181 "[BUG] ElephasTransformer:get_config has error"
Hi @danielenricocahall I think there's a bug in this line
https://github.com/maxpumperla/elephas/blob/master/elephas/ml_model.py#L171

`getattr(self, 'weights', [])` should be most likely returning a Broadcast object so it needs `.value` to extract and actual content

Also each weight is already `np.ndarray` so I think the `.numpy()` is weird?

This is what I ended up using but not sure if it's a

[2021-02-20 03:44] OscarDPan commented on #181
How about this PR https://github.com/maxpumperla/elephas/pull/182 ?
I am not sure about that failed unittest though. Doesn't look like it's related to the changes I made.

How come this save() function involves in some low-level TF stuffs?

[2021-02-22 15:40] diogoribeiro09 commented on #82
I still have this same issue. I'm running Tensorflow v '2.1.3' and installed elephas as per instructed with pip install elephas. Running the example file I get this error TypeError: can't pickle _thread.RLock objects on the fit function.

[2021-02-24 12:37] diogoribeiro09 opened #183 "Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe."
Hi,
I'm trying to use elephas for my deep learning models on spark but so far I couldn't even get anything to work on 3 different machines and on multiple notebooks.

- "ml_pipeline_otto.py"  crashes on the `load_data_frame` function, more specifically on  `return sqlContext.createDataFrame(data, ['features', 'category'])` with the error : `Py4JJavaError: An error occurred while calling z:org.apac

[2021-02-25 10:14] danielenricocahall commented on #183
I unfortunately can't replicate with all versions mentioned :( could this be related to your notebook environment?

[2021-02-25 10:15] danielenricocahall commented on #181
I will take a look now. Thank you!

[2021-02-25 10:32] diogoribeiro09 commented on #183
Hi @danielenricocahall thanks for your time. I tried both on conda and pycharm with venv. Just to be absolutely clear I'm doing things right :
-  I create a new environment for python 3.7, run pip install elephas. It will automatically install all dependencies.

Maybe it is also important to refer that I'm running this on windows 10. Do I need to install anything else? Setup any other environment

[2021-02-25 10:42] danielenricocahall commented on #181
It's operating on a list of `Tensor` objects - `numpy` is the method to convert them to np arrays.

[2021-02-25 11:00] danielenricocahall commented on #183
Those sound like the right steps, and there should be no additional configuration required. There may be an issue on Windows - I have only tested on Linux. There is another open issue where the user was on a Windows machine: https://github.com/maxpumperla/elephas/issues/142, and I believe I have talked with one or two others who encountered issues on Windows. I'm sorry. :(

[2021-02-25 15:46] diogoribeiro09 commented on #183
@danielenricocahall to add a little bit more on this topic. Installed it on a fresh VM with ubuntu. Installed conda and created a new virtual environment with python 3.7. Ran `pip install elephas`. Tried the `mllib_mlp.py` example and it gave me an error about java. Installed java `sudo apt-get install openjdk-8-jdk-headless -qq` . After than re-ran the notebook and complained about JAVA_HOME . Ad

[2021-02-26 02:13] OscarDPan commented on #181
hmm weird, `[weight.tolist() for weight in self.weights.value]` gave me error because in my application self.weights.value is a list of numpy array already.

[2021-02-26 02:17] danielenricocahall commented on #181
Do you have a snippet to reproduce it?

[2021-02-26 03:42] OscarDPan commented on #181
so without the PR I have to modify the get_config() a bit to get the value of the Broadcast object
`'weights': [weight.numpy().tolist() for weight in getattr(self, 'weights', []).value],`

Then it gave me this
[code]

Please give me sometime to make a minimal example

[2021-02-26 03:57] OscarDPan commented on #181
Here you are
[code]

[code]

elephas==1.4.2
tensorflow==2.1.1
tensorflow-estimator==2.1.0
tensorflow-probability==0.9.0

[2021-02-26 18:51] OscarDPan commented on #181
@danielenricocahall and on top of that, I think we should also save "featuresCol"

[2021-03-03 03:42] OscarDPan commented on #181
Hi @danielenricocahall any update on your end? Have you been able to reproduce the error with the snippet above?

[2021-03-03 17:01] danielenricocahall commented on #181
Yes I was able to replicate - working on it but i've been busy. Will try to have fix in by end of week.

[2021-03-04 00:55] danielenricocahall commented on #181
Okay so now that I've had a moment to look at the problem a bit more carefully, it looks like it was just something silly in my testing - I was getting the `weights` attribute rather than calling `get_weights` method. I just pushed up the test change, along with adding the `featuresCol` to the config. Take a look over it and if it looks good to you, we can merge and tag a new patch release.

[2021-03-04 00:55] danielenricocahall commented on #181
Thank you!

[2021-03-04 19:53] OscarDPan commented on #181
Hi @danielenricocahall Thanks for debugging!
The changes make sense to me.

def load_ml_transformer(file_name: str):
    f = h5py.File(file_name, mode='r')
    elephas_conf = json.loads(f.attrs.get('distributed_config'), object_hook=as_enum)
    config = elephas_conf.get('config')
    return ElephasTransformer(**config)
However I think we need to do one more thing:
After saving and loading back th

[2021-03-06 14:07] danielenricocahall commented on #181
Good catch - just added a conversion step in the `load_ml_transformer` function

[2021-03-08 00:37] OscarDPan commented on #181
yup looking good! Thanks for the work.

[2021-03-09 01:00] danielenricocahall commented on #181
Resolved with PR https://github.com/maxpumperla/elephas/pull/182, and released on 1.4.3.

[2021-03-09 01:00] #181 closed

[2021-03-17 10:15] bdikici opened #185 "Elephas compatibility with tensorflow > 2.2"
Hey guys,

I love what you guys are doing with this project, keep it up <3. I was just wondering if there are any talks about releasing a version which is compatible with the Tensorflow versions > 2.2.

Greetings and stay safe

[2021-03-23 00:15] danielenricocahall commented on #185
Hi @bdikici ! Thank you! IIRC, Elephas was compatible with 2.3 when testing locally, just 2.2.x had some issues. I may pin it to >=2.3 soon.

[2021-03-27 09:16] OscarDPan opened #187 "[BUG] ml_model _transform"
Hey @danielenricocahall I've been lately trouble shooting a pretty bizarre issue but haven't been able to find the root cause yet. I want to share with you my progress.
1. This issue is independent from my existing PR.
2. This issue is only observed in spark **CLUSTER** mode.

The problem is my elephas model works as expected in local spark mode, but in cluster mode after it does predictions, the

[2021-03-28 03:01] OscarDPan commented on #187
So I still am don't understand why this only happens in cluster mode, but if I persisit the df before it goes to _transform, everything is good!

[2021-03-28 03:01] #187 closed

[2021-03-28 03:09] danielenricocahall commented on #187
@OscarDPan can you send a minimal reproducible example?

[2021-03-28 06:12] OscarDPan commented on #187
@danielenricocahall as I mentioned the issue was never discovered during local development/unittests. It is only observed when I run my end-to-end code in a cluster.

But what I understand is if the input df to the _transform() func was previously shuffled (e.g. repartition, orderBy), we cannot guarantee the 2 rdds in `rdd.zip(prediction_rdd)` have the same order, because the input df was actually

[2021-03-28 19:26] danielenricocahall commented on #187
@OscarDPan ah okay - we could also introduce an `id` column prior to inference and add a sort prior to the return to ensure the ordering.

[2021-03-28 19:27] danielenricocahall commented on #162
@SaiBeathanabhotla have you gotten a chance to test the feature out?

[2021-03-28 19:31] #149 closed

[2021-03-28 19:37] danielenricocahall commented on #183
Reviewing the traceback:

[code]
You may need increase `spark.driver.memory` in your spark config. How much memory do you have available?

[2021-03-28 19:38] danielenricocahall commented on #185
Okay, support for higher TF versions is officially merged into master: https://github.com/maxpumperla/elephas/pull/186. Once the next release (2.0.0) is out, I will close this issue. Feel free to test it out and let me know how it works!

[2021-03-28 19:47] diogoribeiro09 commented on #183
I do have 32GB of ram available and I set the driver to 32GB as well. The same script under Ubuntu works just fine .

[2021-03-28 22:30] OscarDPan commented on #187
@danielenricocahall  yeah that's also a solution :) Ideally an optional argument. In my case I'd use persist over sort since my dataset has millions of rows.

[2021-03-29 11:20] 1055503716 opened #189 "ASGD 无法收敛"

[2021-03-29 18:27] #189 closed

[2021-04-05 12:23] danielenricocahall commented on #185
Officially released Elephas 2.0.0 which has > 2.2 support. Please feel free to test it out!

[2021-04-05 12:23] #185 closed

[2021-04-08 19:51] ghorbani-mohammad opened #190 "Does support LSTM or GRU models?"
Hi,

Does this package support LSTM or GRU models for training on spark?

Thanks for your great work :)

[2021-04-23 12:37] danielenricocahall commented on #190
Thank you! Not exactly - there are several other open issues (https://github.com/maxpumperla/elephas/issues/141, https://github.com/maxpumperla/elephas/issues/85) regarding LSTM support. It's something I could add but I would definitely need some help.

[2021-04-23 12:38] #125 closed

[2021-04-25 08:29] amirtaherkhani opened #191 "TypeError: cannot pickle 'weakref' object"
I received this error after running "mnist_mlp_spark.py" example or any other example
os: macOS Big Sur 11.2.3
python : python3.8
tensorflow:2.4.1
elephas: 2.1.0
keras : 2.2.5
pyspark: 3.1.1

Traceback (most recent call last):
  File "/Users/amirtaherkhani/Desktop/big_recomender/deep learning/./train_spark.py", line 57, in <module>
    spark_model.fit(rdd, epochs=epochs, batch_size=batch_size, ver

[2021-06-12 12:31] sparrow422 opened #192 "Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe."
Hi. I'm trying to solve errors on Spark_ML_Pipeline.py example a week. But I couldn't find the solution.
I just run the original code.

environments : local jupyter notebook, python=3.7, keras=2.2.5, tf=2.3.0, spark=2.4.8

The error is below :'(
Help me....
[code]

[code]

[2021-08-07 15:56] Asif-Ejaz opened #193 "CNN in elephas"
Hi all
Can we write CNN with elephas, i mean if we can add 2d conv layers in keras model and load 2d images. Can we load pretrained models like vgg for transfer learning.

[2021-08-14 15:45] paravatha commented on #190
Hi, was LSTM and Bidirectional LSTM added in the recent release?

[2021-08-16 09:12] aabbcc002 opened #194 "RuntimeError: Method `model.to_yaml()` has been removed due to security risk of arbitrary code execution. Please use `model.to_json()` instead."
After Tensorflow 2.4.3, the error "RuntimeError: Method `model.to_yaml()` has been removed due to security risk of arbitrary code execution. Please use `model.to_json()` instead." is broken.

message:
RuntimeError                              Traceback (most recent call last)
<ipython-input-86-5447e921f37e> in <module>
      1 from elephas.spark_model import SparkModel
      2 spark_model = SparkM

[2021-08-16 22:40] danielenricocahall commented on #194
Thank you! I'll look into this now.

[2021-08-17 01:16] danielenricocahall commented on #194
Addressed in the latest (3.0.0) release. Let me know how it works!

[2021-08-17 01:17] #194 closed

[2021-08-17 01:20] danielenricocahall commented on #191
Hey try with the latest release (3.0.0) - I don't believe the previous version was tested on Tensorflow 2.4 in the previous release.

[2021-08-17 01:24] danielenricocahall commented on #190
Hi @paravatha it was not - that's still an ongoing effort. Feel free to start it and we can work on it together if you have any ideas!

[2021-08-17 01:26] danielenricocahall commented on #162
I'm going to close this out for now. Feel free to reopen this ticket or open a new one if the latest version  (3.0.0) doesn't work!

[2021-08-17 01:26] #162 closed

[2021-08-17 01:30] danielenricocahall commented on #63
I'm going to close this for now - feel free to reopen if this issue persists.

[2021-08-17 01:30] #63 closed

[2021-08-17 03:11] aabbcc002 opened #195 "Issues on installing version 3.0.0"
when installing version 3.0.0 using pip, error message show:
ERROR: Could not find a version that satisfies the requirement h5py==3.3.0 (from elephas) (from versions: 2.2.1, 2.3.0b1, 2.3.0, 2.3.1, 2.4.0b1, 2.4.0, 2.5.0, 2.6.0, 2.7.0rc2, 2.7.0, 2.7.1, 2.8.0rc1, 2.8.0, 2.9.0rc1, 2.9.0, 2.10.0, 3.0.0rc1, 3.0.0, 3.1.0)
ERROR: No matching distribution found for h5py==3.3.0

[2021-08-21 20:46] #191 closed

[2021-08-23 00:36] danielenricocahall commented on #195
Which Python version are you running?

[2021-08-25 02:16] aabbcc002 commented on #195
python 3.6.13

[2021-09-05 08:40] samasalam opened #196 "Elephas installation Problem"
Hello
I face a problem when installing Elephas using `pip install elephas`, pyspark is installed with all of its versions < 3.2. It said that he is trying to find the best version that meets the requirements.  He installed Kersa, tensorflow but the process proceeded and no progress happened.
What should I do? I'm in great need of this library.
Note: The attached picture shows what is happening as

[2021-09-06 16:04] samasalam commented on #196
@maxpumperla
Why this happens?
<img width="394" alt="3" src="https://user-images.githubusercontent.com/72684713/132242602-decebb46-7877-4efc-a358-674e3fe2def0.png">

[2021-09-20 09:01] guidiandrea commented on #195
I was able to install h5py==3.3.0 by downloading the wheel, python==3.7.9.

The problem is that when I try installing Elephas, Tensorflow 2.6 is first installed and it downgrades h5py to 3.1.0

[2021-09-20 09:02] guidiandrea commented on #196
I am having the same problem.

I tried installing pyspark as first package to avoid all of this, but then it downloads and caches all tensorflow versions, each patch of each minor.

It's really difficult to test Elephas in these conditions. Hope it'll get fixed soon.

[2021-10-07 04:35] bharaniid commented on #105
Yes , Still it is there

cPickle.PicklingError: Could not serialize object: Py4JError: An error occurred while calling o124.__getnewargs__. Trace:
py4j.Py4JException: Method __getnewargs__([]) does not exist
        at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
        at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
        at py4j.Gateway.invoke

[2021-11-09 06:04] wangbingnan136 opened #197 "Dose elephas support cutom loss cuntion or custom optimizer?"

[2021-11-12 00:06] danielenricocahall commented on #197
Yes! As of 1.2.0, custom loss functons are supported: https://github.com/maxpumperla/elephas/releases/tag/1.2.0. Here's an example of using a custom activation: https://github.com/maxpumperla/elephas/blob/master/tests/test_ml_model.py#L231. You should be able to do something similar for custom losses and custom optimizers.

[2021-11-12 00:08] danielenricocahall commented on #196
Let me take a look, maybe we need to pin the dependencies for Pyspark and Tensorflow. Sorry for the delayed response!

[2021-11-12 00:12] danielenricocahall commented on #196
I was able to install elephas successfully on a fresh environment with Python 3.8. What versions were you guys testing?

[2021-11-12 00:14] danielenricocahall commented on #195
@aabbcc002 Elephas requires Python 3.7+, ideally Python3.8+. Please try with one of those versions and let me know!

[2021-11-12 00:15] danielenricocahall commented on #45
Closing this for now.

[2021-11-12 00:15] #45 closed

[2021-11-12 00:15] danielenricocahall commented on #46
Closing this for now.

[2021-11-12 00:15] #46 closed

[2021-11-12 00:15] danielenricocahall commented on #99
Closing this for now.

[2021-11-12 00:15] #99 closed

[2021-11-12 00:16] danielenricocahall commented on #142
Closing this for now.

[2021-11-12 00:16] #142 closed

[2021-11-12 00:17] danielenricocahall commented on #147
Closing this for now.

[2021-11-12 00:17] #147 closed

[2021-11-12 19:24] samasalam commented on #196
Python 3.9.7

[2021-11-24 18:00] #197 closed

[2021-11-24 18:01] danielenricocahall commented on #196
Ah so it's not working on 3.9?

[2021-11-24 18:01] #153 closed

[2021-11-24 18:02] #158 closed

[2021-12-02 16:53] ericbugin opened #198 "release Elephas with whl files?"
Hello, could you release elephas with a whl file as well?  please and thanks

[2021-12-06 16:01] #198 closed

[2021-12-23 12:25] romanzdk opened #199 "Binary classification - number of classes"

[2021-12-23 12:47] #199 closed

[2022-02-22 03:47] moseshu opened #200 "this pkg does't surpport scala?"

[2022-03-18 15:23] rebelobru commented on #190
Hello!
Was LSTM added in the meantime?
I tried to use a LSTM layer and fit it with a rdd and it did run without any error. Do you think that it was a case of luck and the results might be correct?

[2022-03-22 15:16] afonsolenzi opened #201 "Py4JJavaError: An error occurred while calling o559._run."
Hello i am trying run 2 notebooks in sequence at Databricks. Second Notebook will run with variables from the first Notebook

This is the command i am running:

`dbutils.notebook.run('Test_Variables', 0, {"DateToProcess": Var1,"OpCo": Var2}) `

Error message:

`Py4JJavaError: An error occurred while calling o559._run.
: com.databricks.WorkflowException: com.databricks.NotebookExecutionException: F

[2022-03-22 15:33] afonsolenzi commented on #201
it was happening due to a aditional in the second notebook trying to convert the variable that was already converted in the first notebook. everything is working fine.

[2022-03-22 15:33] #201 closed

[2022-04-27 06:35] aman1931998 opened #202 "java.lang.NullPointerException while showing predicted output."
Dear @maxpumperla / other authors of this repo. A big thanks for developing this library, I have been successful in running it some datasets but I am facing issue with the current one. Please help me though it.

Dataset: https://www.kaggle.com/datasets/janiobachmann/bank-marketing-dataset

Dataset looks like this: df.show()
![image](https://user-images.githubusercontent.com/34935618/165452852-544b

[2022-04-27 07:54] aman1931998 commented on #202
Environment Details:
Zeppelin 0.10.1
Spark 3.2.1 for hadoop 3.2

Python 3.8.10
PySpark 3.2.1
Elephas 3.1.0
tensorflow 2.8.0
keras 2.8.0

# Cores: 2
Memory: 8GB

[2022-06-02 14:13] shahryary commented on #202
Same error for me, I dinged a little bit more into model and  I realize that the problem could be happen in  pyspark serializers, here is the error:
[code]
Probably updating pyspark( current version 3.2.0) into new one (3.2.1) could solve the problem.

Additionally, somehow in "transform" part the element are array (to see use: predcition.printSchema(),  despite the other ML algorithms just giving

[2022-06-13 19:16] SumeyyeSuslu commented on #139
It seems to be broken with new versions.  I ran  [regression](https://github.com/maxpumperla/elephas/blob/master/examples/ml_mlp_regression.py)  example on Google colab and gave these results:
[code]

[2022-06-17 19:06] SumeyyeSuslu opened #203 "Regression seems to be broken with new versions."
It seems to be broken with new versions.  I ran  [regression](https://github.com/maxpumperla/elephas/blob/master/examples/ml_mlp_regression.py)  example on Google colab and gave these results:
[code]

_Originally posted by @SumeyyeSuslu in https://github.com/maxpumperla/elephas/issues/139#issuecomment-1154332341_

[2022-06-22 09:45] Washim1997 commented on #183
it happens becuse you are doing some illegal type casting

[2022-07-02 15:17] Mayank01 commented on #183
Hi,

Thanks had same issue its been resolved.
import findspark
findspark.init()
Initialize it before the creation of spark session

Note:
Windows seems has other dependencies, Not sure what was the issue but its fixed now. please pass it on detail like how this package help to resolve this.